<p>Kære {{name}}</p>
<p>Du gennemførte {{date}}, AMU-kurset "{{oldCourseTitle}}". Det AMU-kursus giver mulighed for certificering.</p>
<p>Hvis du blev certificeret, er du måske klar over, at din certificering snart udløber, sandsynligvis til {{expireMonth}}, {{expireYear}}.</p>
<p>Hvis du vil recertificeres, kan du gøre det via kursus nummer {{newCourseID}} – {{newCourseTitle}}.
<p>Du kan finde det næste hold her: <a href="{{newCourseURL}}">{{newCourseURL}}</a></p>
<p>Dette er en servicemeddelelse fra EVU. Du kan framelde dig beskeder som denne via evukurser.dk. Du vil ikke modtage flere meddelelser om denne certificering.</p>
<p>Med venlig hilsen,<br>EVU</p>