<p>Hej {{name}}</p>
<p>Du har nu fjernet din CPR-validering. Alle oplysninger, som var tilknyttet din CPR-validering er blevet slettet. Du skal være opmærksom på at du ikke længere vil modtage besked om certifikatudløb.</p>
<p>Med venlig hilsen,<br>EVU</p>