<p>Hej {{name}}</p>
<p>Du har prøvet at CPR-validere din bruger. Desværre fejlede valideringen, enten fordi at NemID-login ikke blev gennemført eller fordi at CPR-nr. ikke matchede dit NemID-login.</p>
<p>Med venlig hilsen,<br>EVU</p>