<p>Hej {{name}}</p>
<p>Du har skiftet e-mail-adresse på EVUKurser.dk og bedes bekræfte den ved at klikke på nedenstående link:</p>
<p><a href="{{verify_link}}">Klik her for at bekræfte e-mail</a></p>
<p>Med venlig hilsen,<br>EVU</p>