<p>Hej {{name}}</p>
<p>Her er blot en besked om at du har skiftet adgangskoden på EVUKurser.dk. Hvis du ikke selv har skiftet adgangskoden, bedes du <a href="http://evukurser.dk/kontakt">kontakte EVUKurser.dk</a>.</p>
<p>Med venlig hilsen,<br>EVU</p>