<p>Hej {{name}}</p>
<p>Det kan ske for enhver, at de glemmer adgangskoden. Heldigvis kan du få en ny ved at klikke på nedenstående link:</p>
<p><a href="{{reset_password_link}}">Klik her for at sætte en ny adgangskode</a></p>
<p>Med venlig hilsen,<br>EVU</p>