<p>Hej {{name}}</p>
<p>Tak for din tilmelding til EVUKurser.dk. Du bedes bekræfte din e-mail-adresse ved at klikke på nedenstående link:</p>
<p><a href="{{verify_link}}">Klik her for at bekræfte e-mail</a></p>
<p>Med venlig hilsen,<br>EVU</p>