<p>Kære {{name}}</p>
<p>Du har tilføjet AMU-kurset {{courseTitle}} på din ønskeliste på evukurser.dk.</p>
<p>Der er nu tilgængelige hold på kurset, som er åbne for tilmelding.</p>
<p>Hvis du vil tilmelde dig, kan du se en liste over holdene her: {{courseLink}}</p>
<p>Dette er en servicemeddelelse fra EVU. Du kan framelde dig beskeder som denne via evukurser.dk under 'Min side' og menupunktet 'Påmindelser'.</p>
<p>Med venlig hilsen,<br>EVU</p>