<div class="class-card">
	<div class="ui grid">
		<div class="middle aligned row computer tablet only">
			<div class="thirteen wide column">
				<div class="class-card-image-wrapper">
					
					<div class="ui rounded left floated image">
						<img src="" ng-show="classHasPicture()">
						<i class="book icon" ng-show="!classHasPicture()"></i>
					</div>
				</div>
				<h4 class="upper-case text-big">
					{{ schoolClass.school.name }}
				</h4>
				<div class="upper-case text-normal light-black">
					<span class="spaced" ng-show="schoolClass.school.geo.properties.address.formatted">{{ schoolClass.school.geo.properties.address.formatted }}</span>
					<span class="spaced" ng-show="schoolClass.participants.remaining">Ledige pladser: {{ schoolClass.participants.remaining }}</span>
					<span class="spaced" ng-show="schoolClass.duration.begin">Holdstart: {{ formatedDate }}</span>
				</div>
			</div>
			<div class="three wide right aligned column">
				<a href="{{ schoolClass.registration.link }}" class="upper-case faint-text small-text" target="_blank">
					Tilmeld<i class="evu-icon right arrow"></i>
				</a>
			</div>
		</div>
		<a class="middle aligned row mobile only" href="{{ schoolClass.registration.link }}">
			<div class="sixteen wide column">
				<div class="class-card-image-wrapper">
					<div class="ui rounded left floated image">
						<img src="" ng-show="classHasPicture()">
						<i class="book icon" ng-show="!classHasPicture()"></i>
					</div>
				</div>
				<h4 class="upper-case text-big">
					{{ schoolClass.school.name }}
				</h4>
				<div class="upper-case text-normal light-black" ng-show="schoolClass.duration.begin">
					<span class="spaced">Holdstart: {{ formatedDate }}</span>
				</div>
			</div>
		</a>
	</div>
</div>