<div class="row course-card-wrapper">
	<div class="ui grid course-card computer tablet only" coursetype="{{ course.type.id }}">
		<div class="sixteen wide column row middle aligned course-card-header">
			<a href="/kursus/{{ course.id }}{{ getFromDate() }}{{ getToDate() }}{{ getIsNotOpenForAttendance() }}{{ getIsWarrantyCourse }}">
				<span class="text-big">
					{{course.id }}: {{ course.title }}
				</span>
			</a>
		</div>
		<div class="equal height row course-text">
			<div class="sixteen wide column course-description-wrapper computer tablet only">
				<span class="text-normal light-black">
					{{ course.description.text | limitTo: 80 }} ...
				</span>
				<p class="text-normal light-black">
					<span class="font-bold">Begyndt på kursus:</span> {{ formatDate(completedCourse.begin) }}
				</p>
				<p class="text-normal light-black">
					<span class="font-bold">Gennemført:</span> {{ formatDate(completedCourse.end) }} <span ng-show="{{ completedCourse.school }}">på {{ completedCourse.school.name }}</span>
				</p>
			</div>
		</div>
		<div class="row rating-wrapper" ng-show="{{ showRating === true || showRatingInEditMode === true || showCompendiums === true }}">
			<div class="ten column wide text-normal" style="vertical-align: bottom;">
				<a href="/min-side/kompendier/{{ course.id }}" ng-show="hasCompendiumsEnabled()">SE KOMPENDIER TILHØRENDE DETTE KURSUS <i class="icon right arrow"></i></a>
			</div>
			<div class="six column wide right aligned computer tablet only" style="vertical-align: bottom;">
				<rating ng-show="showRatingInEditMode"></rating>
				
				<div ng-show="showRating">
					<ol class="angular-ratings">
						<li ng-class="{active:course.rating.stars>0,over:course.rating.stars>0}">1</li>
						<li ng-class="{active:course.rating.stars>1,over:course.rating.stars>1}">2</li>
						<li ng-class="{active:course.rating.stars>2,over:course.rating.stars>2}">3</li>
						<li ng-class="{active:course.rating.stars>3,over:course.rating.stars>3}">4</li>
						<li ng-class="{active:course.rating.stars>4,over:course.rating.stars>4}">5</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<a class="ui grid course-card mobile only" coursetype="{{ course.type.id }}" href="/kursus/{{ course.id }}{{ getFromDate() }}{{ getToDate() }}{{ getIsNotOpenForAttendance() }}{{ getIsWarrantyCourse() }}{{ getRegion() }}{{ getSchool() }}">
		<div class="sixteen wide column row middle aligned course-card-header">
			<span class="text-big">
				{{course.id }}: {{ course.title | limitTo: 27 }}
			</span>
		</div>
		<div class="equal height row course-text">
			<div class="sixteen wide column course-description-wrapper mobile only">
				<p class="text-normal light-black">
					<span class="font-bold">Begyndt på kursus:</span> {{ formatDate(completedCourse.begin) }}
				</p>
				<p class="text-normal light-black">
					<span class="font-bold">Gennemført:</span> {{ formatDate(completedCourse.end) }}
				</p>
			</div>	
		</div>
	</a>
</a>
</div>