<div class="row course-card-wrapper">
	<div class="ui grid course-card computer tablet only" coursetype="{{ course.type.id }}">
		<div class="sixteen wide column row middle aligned course-card-header">
			<a href="{{ getLink() }}">
				<span class="text-big">
					{{course.id }}: {{ course.title }}
				</span>
			</a>
		</div>
		<div class="equal height row course-text">
			<div class="thirteen wide column course-description-wrapper computer only">
				<span class="text-normal light-black">
					{{ course.description.text | limitTo: 240 }} ...
				</span>
			</div>
			<div class="twelve wide column course-description-wrapper tablet only">
				<span class="text-normal light-black">
					{{ course.description.text | limitTo: 180 }} ...
				</span>
			</div>	
			<div class="three wide column course-link-wrapper right aligned computer only">
				<a href="{{ getLink() }}" class="text-big font-bold">
					SE KURSUS 
				</a>
			</div>	
			<div class="four wide column course-link-wrapper right aligned tablet only">
				<a href="{{ getLink() }}" class="text-big font-bold">
					SE KURSUS 
				</a>
			</div>
		</div>
		<div class="row rating-wrapper" ng-show="{{ showRating === true || showRatingInEditMode === true || hasCompendiumsEnabled() || hasWishlistEnabled() }}">
			<div class="ten column wide text-normal" style="vertical-align: bottom;">
				<a href="/min-side/kompendier/{{ course.id }}" ng-show="hasCompendiumsEnabled()">SE KOMPENDIER TILHØRENDE DETTE KURSUS <i class="icon right arrow"></i></a>

				<span class="light-blue wishlist-link" ng-show="courseIsNotInWishlist()" ng-click="addToWishlist(course.id)">TILFØJ TIL ØNSKELISTE <i class="add sign icon"></i></span>
				<span class="light-blue wishlist-link" ng-click="removeFromWishlist(course.id)" ng-show="courseIsInWishlist()">FJERN FRA ØNSKELISTE <i class="remove sign icon"></i></span> 

			</div>
			<div class="six column wide right aligned computer tablet only" style="vertical-align: bottom;">
				<rating ng-show="showRatingInEditMode"></rating>
				
				<div ng-show="showRating">
					<ol class="angular-ratings">
						<li ng-class="{active:course.rating.stars>0,over:course.rating.stars>0}">1</li>
						<li ng-class="{active:course.rating.stars>1,over:course.rating.stars>1}">2</li>
						<li ng-class="{active:course.rating.stars>2,over:course.rating.stars>2}">3</li>
						<li ng-class="{active:course.rating.stars>3,over:course.rating.stars>3}">4</li>
						<li ng-class="{active:course.rating.stars>4,over:course.rating.stars>4}">5</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<a class="ui grid course-card mobile only" coursetype="{{ course.type.id }}" href="{{ getLink() }}">
		<div class="sixteen wide column row middle aligned course-card-header">
			<span class="text-big">
				{{course.id }}: {{ course.title | limitTo: 50 }}{{ course.title.length > 50 ? ' ...' : '' }}
			</span>
		</div>
		<div class="equal height row course-text">
			<div class="sixteen wide column course-description-wrapper mobile only">
				<span class="text-normal light-black">
					{{ course.description.text | limitTo: 100 }} ...
				</span>
			</div>	
		</div>
	</a>
</a>
</div>