<div ng-show="show==true">
	<form class="well form-inline">
		<h3>Login</h3>
		<input ng-model="username" type="text" val="username" placeholder="Username">
		<input ng-model="password" type="password" val="password" placeholder="Password">
		<button type="submit" class="btn">Log in</button>
	</form>
</div>