<div class="column news-card-container">
	<div class="news-card">
		<div>
			<p class="news-card-header">
				{{ story.title }}
			</p>
			<p class="news-card-read-more">
				<a href="/nyhed/{{ story.id }}">Læs mere</a> 					
				<img src="/images/icons/small_arrow_right.png">
			</p>
		</div>
	</div>
</div>