<div class="equal height row" ng-click="showNewsStory(story.id);">
	<div class="five wide column news-entry-image-wrapper">
		<img ng-src="{{ story.image }}" class="ui large image" ng-class="{ 'no-image': !story.image }">
	</div>
	<div class="eleven wide column news-entry-text-wrapper">
		<h2 class="text-bigger light-blue">
			{{ story.title }}
		</h2>
		<p class="text-big" ng-bind-html="story.article.html">
		</p>
		<p class="text-normal light-dark news-entry-author">
			Skrevet {{ formatedDate }}
		</p>
	</div>
</div>