<div class="top-bar-wrapper">
	<div class="content-container text-big">
		Glemt adgangskode
	</div>
</div>

<div class="content-container forgotten-password-wrapper">
	<div class="ui one column grid">
		<div class="equal height row">
			<div class="column center aligned" >
				<div class="ui form segment">
					<div class="field icon-name-container">
						<img src="/images/icons/login.png">
						<p>
							Nulstil din adgangskode
						</p>
					</div>
					<div class="field">
						<div class="ui left labeled">
							<input type="text" placeholder="Email" ng-model="email" ngenter="sendVerification()">
						</div>
					</div>
				</div>
				<div class="ui ignored red icon message" ng-show="errorMessage">
					<div class="content">
						<h3 class="header">Der skete en fejl</h3>
						<p>{{ errorMessage }}</p>
					</div>
				</div>
				<div class="ui ignored green icon message" ng-show="success">
					<div class="content">
						<h3 class="header">Din adgangskode er blevet nulstillet.</h3>
						<p>
							Hvis din emailadresse er fundet i vores database, vil du modtage en email. Følg linket i denne email for at skifte din adgangskode. 
							<br /> <br />
							Har du ikke modtaget en email inden for ti minutter, findes din bruger ikke ikke i systemet. Hvis du ikke har en bruger, kan du oprette en ny bruger <a href="/login">her</a>
						</p>
					</div>
				</div>

				<div class="button-bottom-wrapper">
					<div class="large basic ui button" ng-click="sendVerification()">
						Send
					</div>
				</div>
			</div>
		</div>
	</div>
</div>