<div class="top-bar-wrapper">
	<div class="content-container text-big">
		Ny adgangskode
	</div>
</div>

<div class="content-container forgotten-password-wrapper">
	<div class="ui one column grid">
		<div class="equal height row">
			<div class="column center aligned" >
				<div class="ui form segment">
					<div class="field icon-name-container">
						<img src="/images/icons/login.png">
						<p>
							Nulstil din adgangskode
						</p>
					</div>
					<div class="field">
						<div class="ui left labeled input">
							<input type="password" placeholder="Ny adgangskode" ng-model="user.password" ngenter="resetPassword()">

							<div class="ui corner label">
								<i class="icon" ng-class="{'attention': user.passwordIsValid !== true, 'checkmark': user.passwordIsValid === true}"></i>
							</div>
						</div>
					</div>
					<div class="field">
						<div class="ui left labeled input">
							<input type="password" placeholder="Gentag ny adgangskode" ng-model="user.passwordRepeated" ngenter="resetPassword()">

							<div class="ui corner label">
								<i class="icon" ng-class="{'attention': user.passwordRepeatedIsValid !== true, 'checkmark': user.passwordRepeatedIsValid === true}"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="ui ignored error icon message" ng-show="errorMessage">
					<div class="content">
						<h3 class="header">Der skete en fejl</h3>
						<p>{{ errorMessage }}</p>
					</div>
				</div>
				<div class="ui ignored positive icon message" ng-show="success">
					<div class="content">
						<h3 class="header">Din adgangskode er blevet ændret</h3>
						<p>Klik <a href="/login">her</a> for at gå til login-siden.</p>
					</div>
				</div>

				<div class="button-bottom-wrapper">
					<div class="large basic ui button" ng-click="resetPassword()">
						Send
					</div>
				</div>
			</div>
		</div>
	</div>
</div>