<!DOCTYPE html>

<html lang="da">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Facebook Meta Tags -->
	<meta property="og:title" content="EVU kurser">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<meta property="og:site_name" content="EVU kurser">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-54350702-1', 'auto');
		ga('send', 'pageview');
	</script>
	<link href="/style/index.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<title>EVU efteruddannelse</title>
	<base href="/">
</head>
<body ng-app="evu">
	<!-- Site wrapper -->
	<div class="site-wrapper" ng-controller="PageController">
		<!-- User menu -->
		<div class="ui grid user-menu-wrapper" ng-class="{combinedMenuBar: combineMenuBar === true}" ng-show="hasReceivedLoginResponse">
			<a class="logo left aligned column" href="/" ng-class="{'logo-white': combineMenuBar === true, 'logo-black': combineMenuBar !== true}">
			</a>
			<!-- User menu, tablet and mobile only -->
			<div class="one column wide row right aligned user-menu tablet mobile only" ng-class="{active: showSidebar === true}" ng-click="toggleSidebar()">
				<div class="ui user-menu-item right aligned">
					MENU
					<i class="icon list layout"></i>
				</div>
			</div>

			<!-- User menu computer only -->
			<div class="secondary pointing ui menu user-menu row computer only">
				<div class="right menu">
					<a class="item" href="/nyheder">
						<span class="user-menu-item">
							NYHEDER
						</span>
					</a>
					<div class="ui dropdown link item user-menu-item" dropdown>
						SE KURSER
						<i class="dropdown icon"></i>
						<div class="menu ui transition hidden">
							<a class="item" href="/kursusoversigt/el">
								El-kurser
							</a>
							<a class="item" href="/kursusoversigt/vvs">
								VVS-kurser
							</a>
							<a class="item" href="/kursusoversigt/skorstensfejer">
								Skorstensfejer
							</a>
							<a class="item" href="/kursusoversigt/private-arrangementer">
								Private arrangementer
							</a>
							<a class="item" href="/kursusoversigt">
								Kursusoversigt		
							</a>
						</div>
					</div>
					<a class="item" href="/kontakt" >
						<span class="user-menu-item">
							KONTAKT
						</span>
					</a>
					<a class="item" href="/vejledning">
						<span class="user-menu-item">
							VEJLEDNING
						</span>
					</a>
					<a class="item user-menu-wrapper-my-page" href="/min-side" ng-show="isLoggedIn">
						<span class="user-menu-item">
							MIN SIDE
						</span>
					</a>
					<a class="item user-menu-wrapper-my-page" href="/log-ud" ng-show="isLoggedIn">
						<span class="user-menu-item">
							LOG UD
						</span>
					</a>
					<a class="item" href="/login" ng-show="!isLoggedIn">
						<span class="user-menu-item">
							LOGIN
						</span>
					</a>
				</div>
			</div>
		</div>

		<!-- Sidebar mobile only -->
		<div class="ui small vertical inverted labeled icon sidebar menu user-menu-mobile tablet mobile only" ng-class="{active: showSidebar === true}">
			<a class="hide item" ng-click="toggleSidebar()">
				<i class="close icon"></i> Skjul menu
			</a>

			<div class="item">
				<a href="/">
					<b>EVU KURSER</b>
				</a>
				<div class="menu">
					<a class="item" href="/" ng-click="toggleSidebar()">FORSIDE</a>
					<a class="item" href="/nyheder" ng-click="toggleSidebar()">NYHEDER</a>
					<a class="item" href="/kursusoversigt" ng-click="toggleSidebar()">SE KURSER</a>
					<a class="item" href="/kontakt" ng-click="toggleSidebar()">KONTAKT</a>
					<a class="item" href="/vejledning" ng-click="toggleSidebar()">VEJLEDNING</a>
					<a class="item" href="/min-side" ng-show="isLoggedIn" ng-click="toggleSidebar()">MIN SIDE</a>
					<a class="item" href="/log-ud" ng-show="isLoggedIn" ng-click="toggleSidebar()">LOG UD</a>
					<a class="item" href="/login" ng-show="!isLoggedIn" ng-click="toggleSidebar()">LOGIN</a>
				</div>
			</div>
		</div>

		<!-- Content container -->
		<div class="ui page wide" ui-view>
		</div>

		<!-- Site footer -->
		<div class="site-footer">
			<div class="ui stackable grid">
				<div class="three column row">
					<div class="column center middle aligned">
						<a href="http://www.def.dk/">
							<img src="/images/footer_dansk_elforbund.png" align="bottom">
						</a>
					</div>
					<div class="column center middle aligned">
						<a href="http://www.blikroer.dk/">
							<img src="/images/footer_blik_roer.png" align="bottom">
						</a>
					</div>
					<div class="column center middle aligned">
						<a href="http://www.tekniq.dk/">
							<img src="/images/footer_tekniq.png" align="bottom">
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="app.js"></script>
	</body>
	</html>
