<div class="top-bar-wrapper">
	<div class="content-container text-big">
		Informationer for el-efteruddannelser
	</div>
</div>
<div class="content-container">
	<p class="text-normal light-black">
		Er du uddannet elektriker med speciale i fx Installationsteknik, men arbejder du i virkeligheden mest med fx styrings- og reguleringsteknik, kan du få et tillæg til dit svendebrev ved at tage en række AMU-kurser.
		<br>
		<br>
		Tillægget er et tilbud til dig, så du kan dokumentere over for en arbejdsgiver, at du har tilegnet dig ekstra kompetencer ud over din oprindelige uddannelse.
		<br>
		<br>
		For at gøre det lettere at gennemskue, hvilke AMU-kurser, der giver adgang til hvilke tillæg, har Det Faglige Udvalg for Elektrikeruddannelsen udviklet et skema, der tydeliggør præcis, hvilke kurser du har brug for afhængig af din oprindelige uddannelse.
		<br>
		<br>
		<a href="https://evu.dk/aktuelt/s%C3%A5dan-f%C3%A5r-du-till%C3%A6g-til-dit-svendebrev">Læs mere her på EVU's hjemmeside</a>
	</p>
</div>
