<div class="contact-wrapper">
	<div class="contact-header contact-background ui center aligned">
	</div>
	<div class="ui grid stackable content-container">
		<div class="row">
			

			<!-- Contact form -->
			<div class="six column wide contact-form">
				<div class="contact-form-wrapper">
					<div class="center aligned ui form segment">
						<div class="field icon-name-container">
							<img src="/images/icons/contact.png">
							<p class="text-big">
								Kontakt os
							</p>
						</div>
						<div class="field">
							<div class="ui left labeled input">
								<input type="text" placeholder="Navn" ng-model="name">
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled input">
								<input type="text" placeholder="Email" ng-model="email">
							</div>
						</div>
						<div class="field">
							<div class="ui left input">
								<textarea placeholder="Din besked" ng-model="message"></textarea>
							</div>
						</div>

						<div class="ui ignored green icon message" ng-show="success">
							<div class="content">
								<h3 class="header">Tak for din henvendelse.</h3>
							</div>
						</div>
						<div class="ui ignored red icon message" ng-show="errorMessage">
							<div class="content">
								<h3 class="header">Der opstod en fejl</h3>
								<p>{{ errorMessage }}</p>
							</div>
						</div>
					</div>

					<div class="button-bottom-wrapper">
						<div class="basic ui button" ng-click="send()">
							Send besked
						</div>
					</div>
				</div>
			</div>




			<div class="ten wide column contact-text-wrapper">
				<div class="contaxt-text">
					<h3>
						KONTAKT EVU KURSER
					</h3>

					<p>
						Hvis du har spørgsmål, kommentarer eller andet til EVU’s kursusportal, er du velkommen til at ringe eller skrive til os. Vi hjælper også gerne, hvis du har problemer med at finde et bestemt kursus, logge på din profil eller lignende. 
						<br />
						<br />
						Hvis du har problemer med kursustilmelding via efteruddannelse.dk, henviser vi til Undervisningsministeriets vejledninger og support på <a href="http://uni-c.dk">uni-c.dk</a>.
					</p>
					
					<div class="ui list">
						<p class="item"><b>Adresse:</b> Højnæsvej 71, 2610 Rødovre</p>
						<p class="item"><b>Telefon:</b> +45 3672 6400</p>
						<p class="item"><b>Email:</b> <a href="mailto:evu@evu.dk">evu@evu.dk</a></p>
					</div>
				</div>
				<div class="module about-text">
					<h3>
						OM EVUKURSER.DK
					</h3>
					<p>
						EVUkurser.dk er el- og vvs-branchens samt skorstensfejernes efteruddannelsesportal. Portalen gør det nemt at finde frem til relevante kurser inden for et bestemt arbejdsområde, periode og geografisk placering.
						<br />
						<br />
						Derudover har EVUkurser.dk en række avancerede funktioner, der gør det muligt for brugeren at holde styr på sin efteruddannelsesaktivitet, finde undervisningsmaterialer og få tillæg til sit svendebrev.
						<br />
						<br />
						EVUkurser.dk kan bruges uanset om du sidder ved en computer eller benytter en tablet eller smartphone."
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>