<div class="ui grid middle aligned course-overview-top-bar-wrapper top-bar-wrapper">
  <div class="row">
    <!-- Search box, computer only -->
    <div class="three wide column filter-search-wrapper computer only">
      <img src="/images/icons/search.png" ng-click="searchBoxHasFocus = true" class="search-icon">
      <input type="search" placeholder="Kviksøg" focusInput="searchBoxHasFocus" class="course-overview-search-box filter-text" ng-model="searchText">
    </div>

    <!-- Search box, tablet and mobile only -->
    <div class="nine wide column tablet mobile only">
      <img src="/images/icons/search.png" ng-click="searchBoxHasFocusMobile = true" class="search-icon">
      <input type="search" placeholder="Kviksøg" focusInput="searchBoxHasFocusMobile" class="course-overview-search-box filter-text" ng-model="searchText">
    </div>

    <!-- Filter buttons, computer only -->
    <div class="three wide column computer only">
      <span class="text-normal light-black filter-text">
        Region:
      </span> 
      <div class="ui inline dropdown" dropdown>
        <div class="text">
          <span class="text-normal light-black font-bold">
            {{ chosenRegion ? chosenRegion.name : 'Vis alle' }}
          </span>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu scrolling">
          <div class="item" ng-repeat="region in searchChoices.region.items" ng-click="setRegion(region.id)">
            <span class="text-normal light-black">
              {{ region.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="three wide column computer only">
      <span class="text-normal light-black filter-text">
        Jobområde:
      </span> 
      <div class="ui inline dropdown" dropdown>
        <div class="text">
          <span class="text-normal light-black font-bold">
           {{ chosenJobArea ? chosenJobArea.name : 'Vis alle' }}
          </span>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu scrolling">
          <div class="item" ng-repeat="jobArea in searchChoices.jobarea.items" ng-click="setJobArea(jobArea.id)">
            <span class="text-normal light-black">
              {{ jobArea.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="two wide column computer only">
      <span class="text-normal light-black filter-text">
        Sortering:
      </span> 
      <div class="ui inline dropdown" dropdown>
        <div class="text">
          <span class="text-normal light-black font-bold">
            {{ chosenSorting ? chosenSorting.name : 'Kursusnavn'}}
          </span>
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" ng-repeat="sortOption in searchChoices.sort.items" ng-click="setSorting(sortOption.id)">
            <span class="text-normal light-black">
              {{ sortOption.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="two column wide computer only right aligned">
      <span class="text-normal light-black font-bold print-button" ng-click="printAllCourses()">
        Udskriv alle <i class="icon print"></i>
      <span>
    </div>
    
    <!-- Advanced filters button, computer only -->
    <div class="three wide column right aligned advanced-filters-toggle-wrapper computer only" ng-click="toggleAdvancedFiltersMobileSidebarMenu()">
      <span class="text-normal light-black font-bold right aligned">
        Avancerede filtre
        <img src="/images/icons/advanced_filters.png" class="advanced-filters-icon"></i>
      </span>
    </div>

    <!-- Advanced filters button, tablet and mobile only -->
    <div class="seven wide column right aligned advanced-filters-toggle-wrapper mobile tablet only" ng-click="toggleAdvancedFiltersMobileSidebarMenu()">
      <span class="text-normal light-black font-bold right aligned">
        Avancerede filtre
        <img src="/images/icons/advanced_filters.png" class="advanced-filters-icon"></i>
      </span>
    </div>
  </div>
</div>

<!-- Advanced filters sidemenu -->
<div class="ui small vertical inverted labeled icon sidebar menu advanced-filters-menu-mobile" ng-class="{active: showAdvancedFiltersMobileSideMenu === true}">
  <a class="hide item" ng-click="showAdvancedFiltersMobileSideMenu = !showAdvancedFiltersMobileSideMenu;">
    <i class="close icon" style="color: red;"></i> Skjul menu
  </a>

  <div class="item sidebar-search-wrapper">
    <b>Søgning</b>
    <div class="menu">
      <div class="ui two column inverted grid">
        <div class="item row">
          <div class="text-normal column">
            Branche:
          </div>
          <div class="column"> 
            <select ng-model="sidebarBranches" ng-options="region.id as region.name for region in branches">
            </select>
          </div>
        </div>
        <div class="item row">
          <div class="text-normal column">
            Region:
          </div>
          <div class="column"> 
            <select ng-model="sidebarRegions" ng-options="region.id as region.name for region in searchChoices.region.items">
            </select>
          </div>
        </div>

        <div class="item row">
          <div class="text-normal column">
            Jobområde:
          </div> 
          <div class="column">
            <select ng-model="sidebarJobAreas" ng-options="jobArea.id as jobArea.name for jobArea in searchChoices.jobarea.items">
            </select>
          </div>
        </div>

        <div class="item row mobile tablet only">
          <div class="text-normal column" style="white-space: no-wrap;">
            Tema-område: 
          </div>
          <div class="column">
          <select ng-model="sidebarSubJobAreas" ng-options="jobarea.id as jobarea.name for jobarea in searchChoices.sub_jobarea.items">
            </select>
          </div>
        </div>

        <div class="item row">
          <div class="text-normal column">
            Sortering: 
          </div>
          <div class="column">
            <select ng-model="sidebarSortOptions" ng-options="sortOption.id as sortOption.name for sortOption in searchChoices.sort.items">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item sidebar-advanced-filters-wrapper">
    <b>Avancerede filtre</b>
    <div class="menu">
      <div class="ui two column inverted grid">
       <div class="item row">
        <div class="text-normal column">
         Skole: 
       </div>
       <div class="column">
         <select ng-model="sidebarSchools" ng-options="school.id as school.name for school in searchChoices.school.items">
         </select>
       </div>
     </div>
     <div class="item row computer only">
      <div class="text-normal column" style="white-space: no-wrap;">
        Tema-område: 
      </div>
      <div class="column">
        <select ng-model="sidebarSubJobAreas" ng-options="jobarea.id as jobarea.name for jobarea in searchChoices.sub_jobarea.items">
        </select>
      </div>
    </div>
    <!-- StartDate: Tablet & mobile only -->
    <div class="item row tablet mobile only">
      <div class="text-normal column">
        Start dato: 
      </div>
      <div class="column">
        <input type="date" ng-model="sidebarStartDate">
      </div>
    </div>
    <!-- StartDate: Computer only -->
    <div class="item row computer only">
      <div class="text-normal column">
        Start dato:
      </div>
      <div class="column">
        <input type="text" class="sidebarStartDate" ng-model="sidebarStartDatePicker" datepicker>
      </div>
    </div>
    <!-- EndDate: Computer only -->
    <div class="item row computer only">
      <div class="text-normal column">
        Slut dato:
      </div>
      <div class="column">
        <input type="text" class="sidebarEndDate" ng-model="sidebarEndDatePicker" datepicker>
      </div>
    </div>
    <!-- EndDate: Tablet & mobile only -->
    <div class="item row tablet mobile only">
      <div class="text-normal column">
        Slut dato:
      </div>
      <div class="column">
        <input type="date" ng-model="sidebarEndDate">
      </div>
    </div>
  </div>
  <div class="item row">
    <div class="ui checkbox">
      <input id="isOpenForAttendance" ng-model="sidebarIsOpenForAttendance" type="checkbox">
      <label for="isOpenForAttendance">Vis kun åbne for tilmelding</label>
    </div>
  </div>
  <div class="item row">
    <div class="ui checkbox">
      <input id="isWarrentyCourse" ng-model="sidebarIsWarrentyCourse" type="checkbox">
      <label for="isWarrentyCourse">Garantikursus</label>
    </div>
  </div>
  <div class="item row">
    <div class="ui checkbox">
      <input id="includeCommonCourses" ng-model="sidebarIncludeCommonCourses" type="checkbox">
      <label for="includeCommonCourses">Inkluder fællesudbud</label>
    </div>
  </div>
  <div class="item row">
    <div class="ui checkbox">
      <input id="isCompaignCourse" ng-model="sidebarIsCompaignCourse" type="checkbox">
      <label for="isCompaignCourse">Kampagnekursus</label>
    </div>
  </div>
  <div class="item row" ng-show="isElectricalCourse()">
    <div class="ui checkbox">
      <input id="isStarMarked" ng-model="sidebarIsStarMarked" type="checkbox">
      <label for="isStarMarked">Stjernemarkeret kursus</label>
    </div>
  </div>
</div>
</div>

<a class="hide item reset-button reset-button-mobile" ng-click="resetAdvancedFiltersSearch()">
      <i class="undo icon" style="color: white;"></i> Nulstil søgning
    </a>


<a class="hide item reset-button reset-button-computer" ng-click="resetAdvancedFiltersSearch(true)">
      <i class="undo icon" style="color: white;"></i> Nulstil søgning
    </a>

<a class="hide item" ng-click="showAdvancedFiltersMobileSideMenu = !showAdvancedFiltersMobileSideMenu;">
  <i class="checkmark icon" style="color: green;"></i> Godkend
</a>
</div>
                                                                                         
<!-- Content -->
<div class="content-container">
  <!-- Search result -->
  <div class="ui grid module search-result-info">
    <div class="row">
      <div class="eight column wide">
        <span class="text-big">
          Søgeresultat
        </span>
        <br>
        <span class="text-normal">
          {{ breadCrumb.getBranch() }} {{ breadCrumb.getRegion() }} {{ breadCrumb.getJobArea() }} {{ breadCrumb.getSubJobarea() }} {{ breadCrumb.getSchool() }} {{ breadCrumb.getSorting() }} {{ breadCrumb.getIsWarrentyCourse() }}
        </span>
      </div>
      <div class="eight column wide right aligned">
        <span class="text-big">
          Viser nu {{ getNumberOfCoursesShown() }} ud af {{ numberOfCourses }} kurser:
        </span>
      </div>
    </div>
  </div>
  <div class="ui grid course-overview-search-result">
    <div class="ui active loader" ng-show="isLoadingCourses"></div>
    <!-- Found courses -->
    <coursecard ng-repeat="course in searchResult"></coursecard>
  </div>
  
</div>
