<div class="top-bar-wrapper">
	<div class="content-container text-big">
		Kursuspakke: {{ coursePackage }} består af følgende kurser:
	</div>
</div>
<div class="content-container">
	<div class="ui grid">
		<coursecard ng-repeat="course in courses"></coursecard>
	</div>
</div>
