<div class="course-view">
	<div class="top-bar-wrapper {{ cssTypeClass }}">
		<div class="content-container text-big">
			{{ course.id }}: {{ course.title }} 
		</div>
	</div>

	<div class="content-container">
		<span class="text-large">
		<i class="arrow circle left icon light-blue"></i>
			<a href ng-click="goBack()">
				Tilbage til søgeresultat
			</a>   
		</span>

		<div class="ui stackable grid">
			<section class="eleven column wide course-description">
				<header class="upper-case font-bold row">
					Beskrivelse af kursus:
				</header>
				<div class="row">
					<span class="text-normal light-black" ng-bind-html="course.description.text">
					</span>
				</div>
				<br>

			<!-- 	<header class="upper-case font-bold row">
					Særlige adgangskrav til kurset:
				</header>
				<div class="row">
					<span class="text-normal light-black">
						{{ course.description.text }}
					</span>
				</div>
				<br>
			-->
				<header class="upper-case font-bold row">
					Målgruppe:
				</header>
				<div class="row">
					<span class="text-normal light-black">
						{{ (course.admission && course.admission.text) ? course.admission.text : 'Ikke oplyst' }}
					</span>
				</div>
			</section>

			

			<div class="five column wide">
				<div class="ui grid course-information-box" ng-show="course.package.text || course.duration.text || course.requirements.text">
					<section class="sixteen wide column">
						<header class="row upper-case centered-text text-big">
							Information
						</header>
						<div class="info row"  ng-show="course.theme.text">
							<span class="text-normal">
								<i class="evu-icon filled-box"></i>
								<span class="upper-case light-black">Pakke:</span> {{ course.theme.text }} 
							</span>
						</div>
						<div class="info row" ng-show="course.duration.text">
							<span class="text-normal">
								<i class="evu-icon calendar"></i>
								<span class="upper-case light-black">Varighed:</span> {{ course.duration.text }}
							</span>
						</div>
						<div class="info row" ng-show="course.requirements.text">
							<span class="text-normal">
								<i class="evu-icon password"></i>
								<span class="upper-case light-black">Adgangskrav:</span> {{ course.requirements.text }}
							</span>
						</div>
						<div class="info row" ng-show="course.jobareas[0].main">
							<span class="text-normal">
								<i class="evu-icon filled-box"></i>
								<span class="upper-case light-black">Jobområde:</span> <a href="/kursusoversigt?jobomraade={{ course.jobareas[0].main.id }}" class="light-black" ng-show="course.jobareas[0].main">{{ course.jobareas[0].main.text }}</a> <a href="/kursusoversigt?jobomraade={{ course.jobareas[0].main.id }}&temaomraade={{ course.jobareas[0].sub.id }}" class="light-black" ng-show="course.jobareas[0].sub"> > {{ course.jobareas[0].sub.text }}</a>
							</span>
						</div>
						<div class="centered-text action row">
							<a href="/kursus/{{ course.id }}/tillaeg" class="upper-case text-normal" ng-show="courseHasApprenticeship()">
								Tillæg til svendebrev
								<i class="icon right arrow"></i>
							</a>
							<br ng-show="courseHasApprenticeship()">
							<a href="/kursus/{{ course.id }}/tilskud" class="upper-case text-normal" ng-show="courseHasGrant()">
								Søg tilskud til dette kursus
								<i class="icon right arrow"></i>
							</a>
							<br ng-show="courseHasGrant()">
							<a ui-sref="vejledning" class="upper-case text-normal">
								Vejledning til evukurser.dk
								<i class="icon right arrow"></i>
							</a>						
						</div>
					</section>
				</div>
			</div>
		</div>



		<section class="class-card-list">
			<header class="font-bold upper-case">
				Udbudte hold
			</header>

			<span class="text-normal light-black" ng-show="hasNoClasses()">Der er ingen udbudte hold for det valgte kursus.</span>
			<p class="light-blue wishlist-link text-normal" ng-show="courseIsNotInWishlist()" ng-click="addToWishlist()">TILFØJ TIL ØNSKELISTE <i class="add sign icon"></i></p>
			<p class="light-blue wishlist-link text-normal" ng-click="removeFromWishlist()" ng-show="courseIsInWishlist()">FJERN FRA ØNSKELISTE <i class="remove sign icon"></i></p> 

			<classcard ng-repeat="schoolClass in course.classes">
			</classcard>
		</section>

	</div>
</div>





