<!-- Header -->
<div class="ui grid center aligned header-wrapper frontpage-background computer only tablet only">
    <div class="header-wrapper-overlay">
        <div class="header-wrapper-text">
            <p class="text-header font-bold">
                EVU’s AMU og kursusportal
            </p>
            <p class="ui text-header computer only">
                Velkommen til el-, vvs- og skorstensfejerbranchens kursusportal
            </p>
            <img src="/images/icons/big_round_down_arrow.png" class="header-arrow-icon" scrollto=".big-course-cards-wrapper">
        </div>
    </div>
</div>
<div class="ui grid center aligned frontpage-background header-wrapper mobile only">
    <div class="header-wrapper-overlay">
        <div class="header-wrapper-text">
            <p class="text-header font-bold">
                EVU’s AMU og kursusportal
            </p>
            <img src="/images/icons/big_round_down_arrow.png" class="header-arrow-icon" ng-click="scrollToBigCourseCards()" scrollto=".big-course-cards-wrapper">
        </div>
    </div>
</div>
<!-- Big course cards cards -->
<div class="big-course-cards-wrapper">
    <div class="ui grid center aligned frontpage-intro-text">
        <div class="one column wide row">
            <div class="column">
                <p class="font-light text-big">
                    Vælg dine relevante AMU-kurser for at komme igang
                </p>
            </div>
        </div>
    </div>
    <div class="ui stackable grid module">
        <div class="four column wide row">
            <div class="column">
                <div class="big-course-card" ng-class="getCourseTypeClass('electrical')">
                    <img src="/images/icons/el.png">
                    <p class="text-normal light-blue">
                        El-branchen
                    </p>
                    <div class="big-course-card-button-wrapper button-bottom-wrapper">
                        <a class="large basic ui button" href="/kursusoversigt/el">
							Se mere 
						</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="big-course-card" ng-class="getCourseTypeClass('plumbing')">
                    <img src="/images/icons/vvs.png">
                    <p class="text-normal light-blue">
                        VVS-branchen
                    </p>
                    <div class="big-course-card-button-wrapper button-bottom-wrapper">
                        <a class="large basic ui button" href="/kursusoversigt/vvs">
							Se mere 
						</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="big-course-card" ng-class="getCourseTypeClass('chimney')">
                    <img src="/images/icons/skorstensfejer.png">
                    <p class="text-normal light-blue">
                        Skorstensfejerkurser
                    </p>
                    <div class="big-course-card-button-wrapper button-bottom-wrapper">
                        <a class="large basic ui button" href="/kursusoversigt/skorstensfejer">
							Se mere 
						</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="big-course-card course-card-black">
                    <img src="/images/icons/andre_amukurser.png">
                    <p class="text-normal light-blue">
                        Andre kurser på efteruddannelse.dk
                    </p>
                    <div class="big-course-card-button-wrapper button-bottom-wrapper">
                        <a class="large basic ui button" href="http://efteruddannelse.dk" target="_blank">
							Gå til
						</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui stackable center aligned grid big-course-card-footer">
    <div class="one column center aligned row">
        <div class="column">
            <p class="text-normal font-light">
                Bemærk: Elbranchens kompetenceudviklingsfond giver tilskud til alle relevante kurser for elbranchen.
            </p>
        </div>
    </div>
    <div class="one column wide row">
        <div class="column">
            <a href="/kursusoversigt/private-arrangementer">
				Udvalgte private kurser<i class="right triangle icon"></i>
			</a>
            <br>
            <br>
            <a href="/kursusoversigt">
				Alle kurser på evukurser.dk<i class="right triangle icon"></i>
			</a>
        </div>
    </div>
</div>
<!-- Latest news -->
<div class="ui grid module latest-news-wrapper section middle aligned" ng-show="newsStories.firstRow">
    <div class="one column wide row">
        <div class="column">
            <span class="text-big">
				Seneste nyheder fra EVU Kurser:
			</span>
        </div>
    </div>
    <!-- Latest news, computer only -->
    <div class="five column wide row news-card-container computer only" ng-show="newsStories.firstRow">
        <newscard ng-repeat="story in newsStories.firstRow">
        </newscard>
    </div>
    <div class="five column wide row news-card-container computer only" ng-show="newsStories.secondRow">
        <newscard ng-repeat="story in newsStories.secondRow">
        </newscard>
    </div>
    <!-- Latest news, tablet only -->
    <div class="four column wide row news-card-container tablet only" ng-show="newsStories.firstRow">
        <newscard ng-repeat="story in newsStories.firstRow | limitTo: 4">
        </newscard>
    </div>
    <div class="four column wide row news-card-container tablet only" ng-show="newsStories.secondRow">
        <newscard ng-repeat="story in newsStories.secondRow | limitTo: 4">
        </newscard>
    </div>
    <!-- Latest news, mobile only -->
    <div class="sixteen row column wide ui stackable grid news-card-container mobile only">
        <newscard ng-repeat="story in newsStories.firstRow | limitTo: 2">
        </newscard>
    </div>
</div>
<div class="ui grid center aligned frontpage-intro-text center aligned frontpage-highlighted-courses computer tablet only">
    <div class="four column wide row">
        <div class="eight column wide">
            <img src="/images/icons/student_filled.png">
            <p class="text-header">
                Din indgang til efteruddannelse
            </p>
        </div>
    </div>
</div>
<!-- Courses -->
<!-- VVS -->
<div class="ui grid module frontpage-course-wrapper">
    <div class="row">
        <div class="ten wide column">
            <span class="text-big">
				Udvalgte VVS kurser
			</span>
        </div>
        <div class="six wide column ui right aligned">
            <a class="text-big middle-aligned" href="/kursusoversigt/vvs">
				Se flere kurser
				<img src="/images/icons/normal_round_right_arrow.png" class="middle-aligned">
			</a>
        </div>
    </div>
    <coursecard ng-repeat="course in highlightedVVS">
    </coursecard>
</div>
<!-- El -->
<div class="ui grid module frontpage-course-wrapper">
    <div class="row">
        <div class="ten wide column">
            <span class="text-big">
				Udvalgte EL kurser
			</span>
        </div>
        <div class="six wide column right aligned">
            <a class="text-big middle-aligned" href="/kursusoversigt/el">
				Se flere kurser
				<img src="/images/icons/normal_round_right_arrow.png" class="middle-aligned">
			</a>
        </div>
    </div>
    <coursecard ng-repeat="course in highlightedEl">
    </coursecard>
</div>
<!-- Skorstensfejer -->
<div class="ui grid module frontpage-course-wrapper">
    <div class="row">
        <div class="ten wide column">
            <span class="text-big">
				Udvalgte Skorstensfejer kurser
			</span>
        </div>
        <div class="six wide column right aligned">
            <a class="text-big middle-aligned" href="/kursusoversigt/skorstensfejer">
				Se flere kurser
				<img src="/images/icons/normal_round_right_arrow.png" class="middle-aligned">
			</a>
        </div>
    </div>
    <coursecard ng-repeat="course in highlightedSkorstensfejer">
    </coursecard>
</div>
<!-- IE9 ERROR MESSAGE -->
<div class="ie9msg">
    <div class="ui message red" ng-show="showIE9Msg" ng-click="hideIE9Msg()">
        <i class="close icon"></i>
        <div class="header">
            Vær opmærksom på, at du bruger en ældre browser!
        </div>
        <p>Bemærk venligst, at du anvender Internet Explorer 9, som ikke er understøttet af evukurser.dk. Du kan opdatere Internet Explorer til en nyere version ved at <a href="http://windows.microsoft.com/da-dk/internet-explorer/download-ie">klikke her</a>.
        </p>
    </div>
</div>
</div>
