<div ui-view>
	<div class="login-wrapper">
		<div class="top-bar-wrapper">
			<div class="content-container text-big">
				Login / Opret dig som bruger
			</div>
		</div>

		<div class="ui stackable grid">
			<div class="two column equal height row">
				<!-- Create user -->
				<div class="column center aligned create-user-container">
					<div class="ui warning form segment">
						<div class="field icon-name-container">
							<img src="/images/icons/create_user.png">
							<p>
								Opret dig som bruger
							</p>
						</div>
						<form name="newUserForm" ng-model="newUserForm" novalidate>
							<div class="field">
								<div class="ui left labeled input">
									<input type="text" placeholder="Navn" ng-model="newUser.name" ngenter="createUser()">

									<div class="ui corner label">
										<i class="icon" ng-class="{'attention': newUser.nameIsValid !== true, 'checkmark': newUser.nameIsValid === true}"></i>
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui left labeled input">
									<input type="email" name="email" placeholder="Email" ng-model="newUser.email" ngenter="createUser()" required />

									<div class="ui corner label">
										<i class="icon" ng-class="{'attention': newUser.emailIsValid !== true, 'checkmark': newUser.emailIsValid === true }"></i>
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui left labeled input">
									<input type="password" placeholder="Kodeord" ng-model="newUser.password" ngenter="createUser()">

									<div class="ui corner label">
										<i class="icon attention" ng-class="{'attention': newUser.passwordIsValid !== true, 'checkmark': newUser.passwordIsValid === true}"></i>
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui left labeled input">
									<input type="password" placeholder="Gentag kodeord" ng-model="newUser.passwordRepeated" ngenter="createUser()">

									<div class="ui corner label">
										<i class="icon" ng-class="{'attention': newUser.passwordRepeatedIsValid !== true, 'checkmark': newUser.passwordRepeatedIsValid === true}"></i>
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui ignored red icon message" ng-show="createUserErrorMessage">
									<div class="content">
										<h3 class="header">Der skete en fejl</h3>
										<p>{{ createUserErrorMessage }}</p>
									</div>
								</div>
								<div class="ui ignored green icon message field" ng-show="createUserSuccessMessage">
									<div class="content">
										<h3 class="header">Din bruger blev oprettet</h3>
										<p>{{ createUserSuccessMessage }}</p>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="button-bottom-wrapper">
						<div class="large basic ui button" ng-click="createUser()">
							Opret bruger
						</div>
					</div>
				</div>
				<!-- Login -->
				<div class="column center aligned login-container">
					<div class="ui form segment">
						<div class="field icon-name-container">
							<img src="/images/icons/login.png">
							<p>
								Login med eksisterende bruger
							</p>
						</div>
						<div class="field">
							<div class="ui left labeled">
								<input type="email" placeholder="Email" ng-model="user.email" ngenter="loginUser()">
							</div>
						</div>
						<div class="field">
							<div class="ui left labeled">
								<input type="password" placeholder="Kodeord" ng-model="user.password" ngenter="loginUser()">
							</div>
						</div>
						<div class="field">
							<a href="/login/glemt-kodeord">Tryk her hvis du har glemt dit kodeord</a>
						</div>
						<div class="field">
							<div class="ui ignored red icon message" ng-show="loginErrorMessage">
								<div class="content">
									<h3 class="header">Der skete en fejl</h3>
									<p>{{ loginErrorMessage }}</p>
								</div>
							</div>
						</div>
					</div>
					
					<div class="button-bottom-wrapper">
						<div class="large basic ui button" ng-click="loginUser()">
							Login
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>