<div class="my-page-wrapper">
	<div class="top-bar-wrapper">
		<div class="content-container text-big">
			<div class="ui two column grid middle aligned grid">
				<div class="column">
					<a href="/min-side" class="ui left floated">Min side</a>
				</div>
				<div class="column center aligned mobile only">
					<div class="ui button" ng-click="showMyPageSideBarMenu = true;">Oversigt</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Computer & tablet only -->
	<div class="ui grid content-container my-courses-wrapper computer tablet only">
		<div class="five wide column">
			<div class="ui fluid menu my-courses-menu">
				<div class="name-card segment">
					<img class="ui left floated image" src="{{ user.picture }}">
					<div>
						<h4 class="upper-case left aligned card-text">
							{{ user.name }}
						</h4>
						<div class="upper-case left aligned card-text">
							<a class="spaced" href="/min-side/profil">
								<img src="/images/icons/profile-edit.png">Rediger
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="ui fluid menu my-courses-menu">
				<div class="item title">KURSUSOVERSIGT:</div>
				<!--<a class="item light-black" href="/min-side">
					TILMELDTE KURSER
				</a>
				<a class="item light-black" href="/min-side/gennemfoerte-kurser">
					GENNEMFØRTE KURSER
				</a>-->
				<a class="item light-black" href="/min-side">
					GENNEMFØRTE KURSER
				</a>
				<a class="item light-black" href="/min-side/oenskeliste">
					ØNSKELISTE
				</a>
			</div>

			<div class="ui fluid menu my-courses-menu">
				<div class="item title">ANDRE VALGMULIGHEDER:</div>
				<a class="item light-black" href="https://evu.dk/erstatningssvendebrev" target="_blank">
					BESTIL KOPI AF SVENDEBREV
				</a>
				<a class="item light-black" href="/min-side/nyhedsbrev">
					NYHEDSBREV
				</a>
				<a class="item light-black" href="/min-side/paamindelser">
					PÅMINDELSER
				</a>
				<a class="item light-black" href="/min-side/valider-nemid">
					CPR-VALIDERING
				</a>
			</div>

			<div  ng-show="isAdmin()">
				<div class="ui fluid menu my-courses-menu">
					<div class="item title">ADMINISTRATION:</div>
					<a class="item light-black" href="/min-side/backend/skriv-nyhed">
						SKRIV NYHED
					</a>
					<a class="item light-black" href="/min-side/backend/rediger-nyhed">
						REDIGER NYHEDER
					</a>
					<a class="item light-black" href="/min-side/backend/upload-csv">
						UPLOAD AF CSV
					</a>
				</div>
			</div>
		</div>
		<div class="eleven wide column" ui-view>
			<div class="ui grid my-courses-course-card-wrapper">
				<p class="text-bigger light-dark">
					Gennemførte kurser
				</p>
				
				<p class="text-normal light-dark" ng-show="!IsCPRVerified()">
					Du kan ikke se dine gennemførte kurser, før du er NemID-valideret. <a href="/min-side/valider-nemid">Klik her</a> for at gå til NemID-validering.
				</p>
				<p class="text-normal light-dark" ng-show="!hasCompletedCourses()">
					Der blev ikke fundet nogle gennemførte kurser.
				</p>

				<div class="ui active loader" ng-show="isLoadingCourses"></div>

				<div class="row" ng-repeat="completedCourse in completedCourses">
					<completedcoursecard ng-repeat="course in completedCourse.courses" show-rating="true"></coursecard>
				</div> 
			</div>
		</div>
	</div>

	<!-- Mobile only -->
	<div class="ui grid content-container my-courses-wrapper mobile only">
		<div class="sixteen wide column" ui-view>
			<div class="ui grid my-courses-course-card-wrapper">
				<!--<coursecard ng-repeat="course in registeredCourses" show-rating="true"></coursecard> -->
				<p class="text-bigger light-dark">
					Gennemførte kurser
				</p>
				
				<p class="text-normal light-dark" ng-show="!IsCPRVerified()">
					Du kan ikke se dine gennemførte kurser, før du er NemID-valideret. <a href="/min-side/valider-nemid">Klik her</a> for at gå til NemID-validering.
				</p>
				<p class="text-normal light-dark" ng-show="{{ isLoadingCourses == false && completedCourses == null && IsCPRVerified() }}">
					Der blev ikke fundet nogle gennemførte kurser.
				</p>

				<div class="ui active loader" ng-show="isLoadingCourses"></div>

				<div  class="row" ng-repeat="completedCourse in completedCourses">
					<completedcoursecard ng-repeat="course in completedCourse.courses" show-rating="true"></coursecard>
				</div>
			</div>
		</div>
	</div>


	<!-- Advanced filters sidemenu, mobile only -->
	<div class="ui small vertical inverted labeled icon sidebar menu myPageSideBarMenu mobile only" ng-class="{active: showMyPageSideBarMenu === true}">
		<a class="hide item" ng-click="showMyPageSideBarMenu = !showMyPageSideBarMenu;">
			<i class="close icon"></i> Skjul menu
		</a>
		<div class="item">
			<div class="menu">
				<a class="item" href="/min-side/profil">
					REDIGER PROFIL
				</a>
			</div>
		</div>	
		<div class="item">
			<b>KURSUSOVERSIGT:</b>
			<div class="menu">
				<!--<a class="item" href="/min-side">
					TILMELDTE KURSER
				</a>
				<a class="item" href="/min-side/gennemfoerte-kurser">
					GENNEMFØRTE KURSER
				</a>-->
				<a class="item" href="/min-side">
					GENNEMFØRTE KURSER
				</a>
				<a class="item" href="/min-side/oenskeliste">
					ØNSKELISTE
				</a>
			</div>
		</div>

		<div class="item">
			<b>ANDRE VALGMULIGHEDER:</b>
			<div class="menu">
				<a class="item" href="https://evu.dk/erstatningssvendebrev">
					BESTIL KOPI AF SVENDEBREV
				</a>

				<a class="item" href="/min-side/nyhedsbrev">
					NYHEDSBREV
				</a>

				<a class="item light-black" href="/min-side/paamindelser">
					PÅMINDELSER
				</a>

				<a class="item" href="/min-side/valider-nemid">
					CPR-VALIDERING
				</a>
			</div>
		</div>
	</div>
</div>
