<!-- Header -->
<div class="ui grid center aligned header-wrapper news-background">
	<div class="header-wrapper-overlay">
		<div class="header-wrapper-text">
			<p class="text-header font-bold">
				Nyheder fra EVU
			</p>
		</div>
	</div>
</div>

<div class="ui stackable grid news-entry-wrapper">
	<p class="text-normal" ng-show="newsStories === null">
		Der er blev ikke fundet nogen nyheder
	</p>
	
	<newsentry ng-repeat="story in newsStories.items" ng-click="showNewsStory(story.id);">
	</newsentry>
</div>