<div class="content-container news-read-wrapper">
	<div class="ui one column grid">
		<div class="row">
			<div class="column">
				<img ng-src="{{ story.image.normal }}">
				<p class="text-bigger light-dark">
					{{ story.title }}
				</p>
				<p class="text-normal light-dark">
					Skrevet {{ formatedDate }}
				</p>
			</div>
			<div class="column" ng-bind-html="story.article.html">
			</div>
		</div>
	</div>
</div>