<div class="substitute-wrapper">
	<div class="top-bar-wrapper">
		<div class="content-container text-big">
			Informationer for el-efteruddannelser
		</div>
	</div>
	<div class="content-container">
		<div>
			<p class="text-normal light-black">
				Du kan søge om tilskud til dette kursus. Klik på link herunder, for at åbne evu.dk hvor du kan søge om tilskud.
				<br>
				<br>
				<a href="https://evu.dk/selvbetjening/kompetencefond/employee_application_amu?kursus_id={{ id }}">
					Søg tilskud
				</a>
			</p>
		</div>

		<div>
			<p class="text-bigger light-black">
				Elbranchens Kompetenceudviklingsfond
			</p>

			<p class="text-normal light-black">
				Det er nemt og hurtigt at få tilskud til efteruddannelse. Elbranchens Kompetenceudviklingsfond er digitaliseret og automatiseret. Nedenfor kan du læse, hvordan man ansøger om tilskud til de forskellige typer af efteruddannelse:
			</p>

			<a href="https://evu.dk/el/kompetencefond/virksomhedsplanlagt-efteruddannelse" class="text-large light-black font-bold substitute-subheader">
				Virksomhedsplanlagt efteruddannelse - AMU-kurser
			</a>

			<p class="text-normal light-black">
				Virksomheder, der er medlemmer af TEKNIQ eller virksomheder med tiltrædelsesaftale med Dansk El-Forbund (DEF), kan få tilskud til <a href="https://evu.dk/el/kompetencefond/virksomhedsplanlagt-efteruddannelse" class="text-normal">virksomheds­planlagt efteruddannelse</a> af medarbejdere, der er omfattet af elektrikeroverenskomsten (undtagen lærlinge). Fonden giver tilskud til alle elbranchens AMU-kurser - undtagen L-AUS.
				<br> 
				<br>
				Du kan se en liste over elbranchens AMU-kurser i det seneste efteruddannelseskatalog. Foruden elbranchens kurser, yder fonden også tilskud til en række AMU-kurser, der ligger uden for elbranchens egne kurser, men som stadig kan være relevante for elektrikere. Se listen her: 
				<br> 
				<br>
				<a href="https://evu.dk/node/337" class="text-normal">Liste over AMU-kurser kompetencefonden yder tilskud til (ikke el-kurser)</a>
				<br>
				<br>
				Hvis medarbejderen er medlem af DEF’s a-kasse, foregår ansøgning og udbetaling af tilskud til AMU-kurser hurtigt og helt automatisk. Der er ingen ansøgningsfrister – du kan søge hele tiden. Du skal blot tilmelde medarbejderen på Efteruddannelse.dk. Tilskuddet fra fonden bliver udbetalt parallelt med VEU-godtgørelsen. Hvis medarbejderen ikke er medlem af DEF's a-kasse, får du besked om tilskud fra fonden direkte fra EVU.
				<br>
				<br>
			</p>

			<a href="https://evu.dk/el/kompetencefond/virksomhedsplanlagt-efteruddannelse-private" class="text-large light-black font-bold substitute-subheader">
				Virksomhedsplanlagt efteruddannelse - private kurser
			</a>

			<p class="text-normal light-black">
			Der kan også ydes tilskud til private kurser, der ud fra en konkret faglig vurdering svarer til et af elbranchens AMU-kurser. Hvis du er i tvivl, er du altid velkommen til at kontakte Camilla Sander på telefon 29274355 eller mail <a href="mailto:cas@evu.dk">cas@evu.dk</a>.
			<br>
			<br>
			Elbranchens Kompetenceudviklingsfond giver desuden tilskud til 16 specifikke kurser indenfor banearbejde og vindmølleteknologi. Læs mere <a href="https://evu.dk/el/efteruddannelse/forh%C3%A5ndsgodkendte-private-kurser">her</a>.
			<br>
			<br>
			Det er ikke nødvendigt at søge om godkendelse på forhånd. Du skal blot sende dokumentation for, at medarbejderen har gennemført kurset. Dokumentationen skal sendes via EVU’s <a href="https://evu.dk/selvbetjening">selvbetjeningssystem</a> senest en måned efter udgangen af det kvartal, medarbejderen har været på kursus. Først derefter udbetales tilskuddet fra fonden.
			</p>

			<a href="https://evu.dk/el/kompetencefond/selvvalgt-efteruddannelse" class="text-large light-black font-bold substitute-subheader">Selvvalgt efteruddannelse</a>

			<p class="text-normal light-black">
				Ved <a href="https://evu.dk/el/kompetencefond/selvvalgt-efteruddannelse">selvvalgt efteruddannelse</a> skal du søge tilskud via EVU’s <a href="https://evu.dk/selvbetjening">selvbetjeningssystem</a>. Herefter skal din arbejdsgiver elektronisk godkende, at betingelserne for <a href="https://evu.dk/el/kompetencefond/selvvalgt-efteruddannelse">selvvalgt efteruddannelse</a> er opfyldt. Når din ansøgning er godkendt, får du tilsagn om, at du kan få tilskud. Du får svar på din ansøgning efter højst 10 hverdage.
				<br>
				<br>
				Når du har fået tilsagn om, at du kan få tilskud, kan du sende fakturaen for kursusafgiften til EVU. Så betaler EVU, og du eller din virksomhed behøver derfor ikke selv at lægge ud.
				<br>
				<br>
				Efter du har været på kursus, skal du selv indsende dokumentation for, at du har gennemført kurset – senest en måned efter udgangen af det kvartal, du har været på kursus. Herefter udbetales tilskuddet.
			</p>

			<p class="text-bigger light-black">
				Om Elbranchens Kompetenceudviklingsfond
			</p>
			<p class="text-normal light-black">
				En veluddannet arbejdsstyrke er forudsætningen for elbranchens konkurrencekraft og dermed i sidste ende for vores beskæftigelse og positive samfundsudvikling.
				<br>
				<br>
				Derfor har TEKNIQ og Dansk El-Forbund i Overenskomsten 2007 oprettet Elbranchens Kompetenceudviklingsfond, som via støtte til efteruddannelse sikrer udvikling af medarbejdernes kompetencer med henblik på at bevare og styrke virksomhedernes udviklingsmuligheder i en teknologisk verden. 
				<br>
				<br>
				Det er ligeledes fondens formål at understøtte udviklingen af medarbejdernes kompetencer for at bevare og styrke beskæftigelsesmulighederne.
				<br>
				<br>
				Fonden finansieres af medlemsvirksomheder i TEKNIQ samt af virksomheder, der har tegnet en tiltrædelsesaftale med Dansk El-Forbund. Fonden administreres af EVU, El- og Vvs-branchens Uddannelsessekretariat.
			</p>

		</div>
	</div>
</div>
