<div class="vejledning-wrapper">
	<div class="top-bar-wrapper">
		<div class="content-container text-big">
			Vejledning til (det nye) evukurser.dk
		</div>
	</div>
	<div class="content-container">
		<span class="text-large">
			<i class="arrow circle left icon light-blue"></i>
			<a href ng-click="goBack()">
				Gå tilbage
			</a>   
		</span>

		<div>
			<ul>
				<li><a href="" scrollto="#link-smartphone">Få evukurser på din smartphone</a></li>
				<li><a href="" scrollto="#link-android">Android</a></li>
				<li><a href="" scrollto="#link-iphone">iPhone</a></li>
				<li><a href="" scrollto="#link-search">Søgning</a></li>
				<li><a href="" scrollto="#link-coursnumber">Søg via kursusnummer</a></li>
				<li><a href="" scrollto="#link-criterias">Søg via søgekriterier</a></li>
				<li><a href="" scrollto="#link-info">Information om det valgte kursus</a></li>
				<li><a href="" scrollto="#link-profile">Brug din profil</a></li>
				<li><a href="" scrollto="#browser-support">Browserunderstøttelse</a></li>
			</ul>
		</div>
 
		<div id="link-smartphone">
			<p class="text-large light-black font-bold substitute-subheader">
				Brug evukurser på din smartphone, tablet eller computer
			</p>

			<p class="text-normal light-black">
				Siden tilpasser sig automatisk til den enhed du bruger.
				<br> 
				På din telefon kan du lave en genvej til hjemmesiden. På den måde kan du bruge den som en app.				
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="link-android">
				App-genvej på android telefoner
			</p>

			<p class="text-normal light-black">
				Processen er lidt forskellig fra telefon til telefon.
				<ol>
					<li>Gå til <a href="http://evukurser.dk/">evukurser.dk</a></li>
					<li>Bruger du firefox for android skal du klikke på de tre prikker øverst, til højre for adressebaren.</li>
					<li>I menuen vælger du ”side” (på engelsk: Page)</li>
					<li>Bagefter klikker du på ”Føj til hjemmeskærm” (engelsk: ”Add to Home Screen”)</li>
				</ol>
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="link-iphone">
				iPhone
			</p>

			<p class="text-normal light-black">
				<ol>
					<li>Gå til <a href="http://evukurser.dk">evukurser.dk</a></li>
					<li>Klik på "del" knappen (det er ikonet i midten, nederst på siden. Ikonet forestiller en side med en pil der kommer ud af siden)</li>
					<li>Du ser nu ni ikoner, tre rækker af tre. Tryk på det midterste ikon (midterste ikon i midterste række). Under ikonet står: "Føj til hjemmeskærm"</li>
					<li>Du får nu mulighed for at give ikonet/appen et navn eller acceptere der foreslåede navn (fx. kurser). Tryk Gem</li>
					<li>Du er færdig – evukurser ligger nu som app på din skærm.</li>
				</ol>
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="link-search">
				Søgning
			</p>
			

			<p class="text-normal light-black" id="link-coursnumber">
				<b>Søg via kursusnummer</b><br>
				Du kan enten indtaste kursusnummeret direkte i søgefeltet (eller en del af titlen på kurset). Herefter ser du en liste med kurser der matcher din søgning (indtaster du nummeret direkte) vil du kun få et resulatat.
				<br>
				<br>
				Klikker du på kurset, ser du en liste med de udbud skolerne har af det pågældende kursus. Du kan nu tilmelde dig kurset.
			</p>



			<p class="text-normal light-black">
				<b>Søg via søgekriterier</b><br>
				Kender du ikke kursusnummeret, kan du finde et relevant kursus via evukurser.dk søgemuligheder.
				<br>
				<br>
				På de fleste computere, vil der i toppen være muligt at filtrere søgningen efter region kurset udbudes i, og hvilket jobområder der er tale om.
				<br>
				<br>
				Derudover findes der avanceret søgning, hvor man kan søge efter bl.a. temaområde (underområder til jobområde), konkrete skoler, datointervaller for udbuddet, om det skal være garantikurser m.m.
				<br>
				<br>
				På denne måde kan man nemt finde det rigtige kursus.
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="link-info">
				Information om det valgte kursus
			</p>

			<p class="text-normal light-black">
				Når man har valgt et konkret kursus, vises en informationsboks for det pågældende kursus. Her kan man se en række vigtige informationer, herunder hvor lang tid kurset vare, links til øvrige kursuer i jobområdet/temaområdet samt i nogle tilfælde information om, at kurset tilhører en PAKKE. AT kurset tilhører en pakke betyder blot at kurset sammen med de øvrige kurser i pakkerne, lige nu er blandt de kompetencer som branchen efterspørger mest.
				<br>
				<br>
				Visse kurser på el-området har også et link til elbranchens kompetencefond. Det link kan bruges hvis man ønsker at søge tilskud til kurset.				
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="link-profile">
				Brug din profil
			</p>

			<p class="text-normal light-black">
				Det anbefales at bruge oprette dig som bruger. Det vil bl.a. betyde at du kan tilføje kurser på en ønskeliste som du nemt kan sende via email til dig selv, og derfra evt. sende videre til din virksomhed.
				<br>
				<br>
				Validerere du din profil med nemID (skal kun gøres én gang) kan du også se en liste over dine tidligere gennemførte kurser. OG du kan downloade kompendier for mange af de kurser du har gennemført.
				<br>
				<br>
				<a href="/kursusoversigt/el">Se el-branchens kursusoverblik her</a> <br>
				<a href="/kursusoversigt/vvs">Se VVS-branchens kursusoverblik her</a> <br>
				<a href="/kursusoversigt/skorstensfejer">Se skorstensfejer-branchens kursusoverblik her</a>
				<br>
				<br>
				Læs mere om <a href="http://evu.dk/intro_til_evukurser">evukurser.dk </a>
			</p>

			<p class="text-large light-black font-bold substitute-subheader" id="browser-support">
				Browserunderstøttelse
			</p>

			<p class="text-normal light-black">
				Bemærk venligst, at evukurser ikke fungerer med Internet Explorer 9 eller tidligere. Hvis du anvender Internet Explorer 9 og ønsker at opdatere til en nyere version, kan opdatere ved at <a href="http://windows.microsoft.com/da-dk/internet-explorer/download-ie">klikke her</a>.
			</p>
		</div>
	</div>
</div>
