<div class="top-bar-wrapper">
	<div class="content-container text-big">
		Verificer e-mail
	</div>
</div>
<div class="content-container">
	<div class="ui one column grid">
		<div class="column">
			<p class="text-normal light-dark">
				{{ message }} 
				<a href="/login">Klik her</a> for at gå til login-siden.
			</p>
		</div>
	</div>
</div>