<div class="center aligned ui form segment">
	<h3 class="text-big">
		Skriv nyhed
	</h3>
	<div class="field">
		<div class="ui left labeled input">
			<input type="text" placeholder="Titel" ng-model="title">
		</div>
	</div>
	<div class="field">
		<div class="ui left input">
			<textarea placeholder="Indhold" ng-model="article"></textarea>
		</div>
	</div>

	<div class="ui ignored green icon message" ng-show="successes.add">
		<div class="content">
			<h3 class="header">{{ successes.add }}</h3>
		</div>
	</div>
	<div class="ui ignored red icon message" ng-show="errors.add">
		<div class="content">
			<h3 class="header">Der opstod en fejl</h3>
			<p>{{ errors.add }}</p>
		</div>
	</div>
	<div class="field">
		<img id="img" src="{{ image }}" style="max-width: 100%;">
	</div>
	<div class="field">
		<p>
			Billede: <input type="file" id="asd" >
		</p>
	</div>
	<div class="basic ui button" ng-click="postNews()">
		Send
	</div>
	<br />
	<br />
	<div class="basic ui button" confirmed-click="deleteNews()" ng-confirm-click="Er du sikker på at du vil slette nyheden?" ng-show="story.id">
		Slet nyhed
	</div>
</div>
