<div class="ui one column grid upload-csv-wrapper">

	<!-- Kompendielinks -->
	<div class="row">
		<div class="column">		
			<h3>Kompendielinks</h3>
			<input type="file" name="tester" class="file-upload" ng-file-select="compendiumContent" ng-model="compendiumContent">
			<br>
			<a class="text-normal" href="/files/csv/links.csv" target="_self">Download eksempel</a>
		</div>
	</div>
	<div class="row" ng-show="responses.compendium">
		<div class="column">
			<div class="ui ignored icon message" ng-show="responses.compendium.success" ng-class="{'green': responses.compendium.warning !== true, 'yellow': responses.compendium.warning === true}">
				<div class="content">
					<h3 class="header">{{ responses.compendium.success }}</h3>
					<p>{{ responses.compendium.successMessage}}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.compendium.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.compendium.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadCompendium()">
				Upload
			</div>
		</div>
	</div>

	<!-- Simple arrangements -->
	<div class="row">
		<div class="column">
			<h3>Simple arrangementer</h3>
			<input type="file" ng-file-select="simpleArrangementsContent" ng-model="simpleArrangementsContent">
			<br>
			<a class="text-normal" href="/files/csv/courses.csv" target="_self">Download eksempel</a>
		</div>
	</div>
	<div class="row" ng-show="responses.simpleArrangements">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.simpleArrangements.success">
				<div class="content">
					<h3 class="header">{{ responses.simpleArrangements.success }}</h3>
					<p>{{ responses.simpleArrangements.successMessage}}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.simpleArrangements.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.simpleArrangements.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadSimpleArrangements()">
				Upload
			</div>
		</div>
	</div>

	<!-- ExtraAmu -->
	<div class="row">
		<div class="column">
			<h3>Ekstra AMU-kurser</h3>
			<input type="file" ng-file-select="extraAmuContent" ng-model="extraAmuContent">
		</div>
	</div>
	<div class="row" ng-show="responses.extraAmu">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.extraAmu.success">
				<div class="content">
					<h3 class="header">{{ responses.extraAmu.success }}</h3>
					<p>{{ responses.extraAmu.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.extraAmu.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.extraAmu.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadExtraAmu()">
				Upload
			</div>
		</div>
	</div>

	<!-- Starred -->
	<div class="row">
		<div class="column">
			<h3>Stjernemarkede kurser</h3>
			<p class="red text-normal">
				Upload først evt. "ekstra AMU-kurser" – ellers godkendes evt. stjernestatus ikke.
			</p>
			<input type="file" ng-file-select="starredContent" ng-model="starredContent">
			<br>
			<a class="text-normal" href="/files/csv/starred.csv" target="_self">Download eksempel</a>
		</div>
	</div>
	<div class="row" ng-show="responses.starred">
		<div class="column">
			<div class="ui ignored icon message" ng-show="responses.starred.success" ng-class="{'green': responses.starred.warning !== true, 'yellow': responses.starred.warning === true}">>
				<div class="content">
					<h3 class="header">{{ responses.starred.success }}</h3>
					<p>{{ responses.starred.successMessage}}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.starred.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.starred.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadStarred()">
				Upload
			</div>
		</div>
	</div>

	<!-- Jobområder -->
	<div class="row">
		<div class="column">
			<h3>Jobområder</h3>
			<input type="file" ng-file-select="jobareasContent" ng-model="jobareasContent">
			<br>
			<a class="text-normal" href="/files/csv/jobareas.csv" target="_self">Download eksempel</a>
		</div>
	</div>
	<div class="row" ng-show="responses.jobareas">
		<div class="column">
			<div class="ui ignored icon message" ng-show="responses.jobareas.success" ng-class="{'green': responses.jobareas.warning !== true, 'yellow': responses.jobareas.warning === true}">
				<div class="content">
					<h3 class="header">{{ responses.jobareas.success }}</h3>
					<p>{{ responses.jobareas.successMessage}}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.jobareas.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.jobareas.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadJobareasPackages()">
				Upload
			</div>
		</div>
	</div>

	<!-- Tilskud til svendebrev -->
	<div class="row">
		<div class="column">
			<h3>Tillæg til svendebrev</h3>
			<input type="file" ng-file-select="svendebrevContent" ng-model="svendebrevContent">
			<br>
			<a class="text-normal" href="/files/csv/apprenticeships.csv" target="_self">Download eksempel</a>
		</div>
	</div>
	<div class="row" ng-show="responses.svendebrev">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.svendebrev.success">
				<div class="content">
					<h3 class="header">{{ responses.svendebrev.success }}</h3>
					<p>{{ responses.svendebrev.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.svendebrev.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.svendebrev.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadAddonToSvendebrev()">
				Upload
			</div>
		</div>
	</div>

	<!-- Udløb af certifikater -->
	<div class="row">
		<div class="column">
			<h3>Udløb af certifikater</h3>
			<input type="file" ng-file-select="certificatesContent" ng-model="certificatesContent">
		</div>
	</div>
	<div class="row" ng-show="responses.certificates">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.certificates.success">
				<div class="content">
					<h3 class="header">{{ responses.certificates.success }}</h3>
					<p>{{ responses.certificates.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.certificates.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.certificates.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadCertificates()">
				Upload
			</div>
		</div>
	</div>

	<!-- Kampagnekurser -->
	<div class="row">
		<div class="column">
			<h3>Kampagnekurser</h3>
			<input type="file" ng-file-select="campaignsContent" ng-model="campaignsContent">
		</div>
	</div>
	<div class="row" ng-show="responses.campaigns">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.campaigns.success">
				<div class="content">
					<h3 class="header">{{ responses.campaigns.success }}</h3>
					<p>{{ responses.campaigns.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.campaigns.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.campaigns.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadCampaigns()">
				Upload
			</div>
		</div>
	</div>

	<!-- Kursuspakker -->
	<div class="row">
		<div class="column">
			<h3>Kursuspakker</h3>
			<input type="file" ng-file-select="themesContent" ng-model="themesContent">
		</div>
	</div>
	<div class="row" ng-show="responses.themes">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.themes.success">
				<div class="content">
					<h3 class="header">{{ responses.themes.success }}</h3>
					<p>{{ responses.themes.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.themes.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.themes.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadThemes()">
				Upload
			</div>
		</div>
	</div>

	<!-- FKB -->
	<div class="row">
		<div class="column">
			<h3>FKB</h3>
			<input type="file" ng-file-select="competencesContent" ng-model="competencesContent">
		</div>
	</div>
	<div class="row" ng-show="responses.competences">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.competences.success">
				<div class="content">
					<h3 class="header">{{ responses.competences.success }}</h3>
					<p>{{ responses.competences.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.competences.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.competences.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadCompetences()">
				Upload
			</div>
		</div>
	</div>

	<!-- Allowed main schools -->
	<div class="row">
		<div class="column">
			<h3>Hovedskoler</h3>
			<input type="file" ng-file-select="mainSchoolsContent" ng-model="mainSchoolsContent">
			<br>
			<a class="text-normal" href="/api/v1/backend/data/schools.csv" target="_self">Download alle skoler</a>
		</div>
	</div>
	<div class="row" ng-show="responses.mainSchools">
		<div class="column">
			<div class="ui ignored green icon message" ng-show="responses.mainSchools.success">
				<div class="content">
					<h3 class="header">{{ responses.mainSchools.success }}</h3>
					<p>{{ responses.mainSchools.successMessage }}</p>
				</div>
			</div>
			<div class="ui ignored red icon message" ng-show="responses.mainSchools.error">
				<div class="content">
					<h3 class="header">Der opstod en fejl</h3>
					<p>{{ responses.mainSchools.error}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="basic ui button" ng-click="uploadMainSchools()">
				Upload
			</div>
		</div>
	</div>

	<!-- CSV downloads -->
	<div class="row">
		<div class="column">
			<hr>
			<h3>Download af CSV-filer</h3>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/mainschools.csv" target="_self">
					Hovedskoleliste 
				</a>
			</p>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/schoolclasslist.csv" target="_self">
					Udbudt skoleliste 
				</a>
			</p>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/courselist.csv" target="_self">
					Kursusliste (alle)
				</a>
			</p>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/courselist.csv?type=electrical" target="_self">
					Kursusliste (EL)
				</a>
			</p>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/courselist.csv?type=plumbing" target="_self">
					Kursusliste (VVS)
				</a>
			</p>
			<p>
				<a class="basic ui button" href="/api/v1/backend/data/courselist.csv?type=chimney" target="_self">
					Kursusliste (SKORSTEN)
				</a>
			</p>
		</div>
	</div>

</div>
