/* Global */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.site-wrapper {
	max-width: 1920px;
	margin: auto;

	.right.menu {
		text-align: right;
		width: 50%;
	}
}

a:hover {
	.light-blue;
	text-decoration: none;
}

a:link {
	.light-blue;
	text-decoration: none;
}

a:visited {
	.light-blue;
	text-decoration: none;
}

a:active { 
	.light-blue;
	text-decoration: none;
}

a {
	.light-blue;
}
.module {
	margin-top: 50px !important;
}

.section {
	margin-top: 10.5% !important;
}

.item.active {
	border-color: rgba(0, 0, 0, 0) !important;
}

.item {
	border-color: rgba(0, 0, 0, 0) !important;
}

.segment {
	box-shadow: none !important;
}

.middle-aligned { 
	vertical-align: middle;
}

.ui.dropdown {
	.text {
		.text-normal;
	}
}

span.user-menu-item {
	white-space: nowrap !important;
}

.frontpage-highlighted-courses {
	padding-left: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 7% !important;

	.text-header {
		padding-top: 3%;
		padding-bottom: 6%;
	}
}

.grid input, .grid textarea {
	background-color: #F6F9FC !important;
	.light-grey;
}

/* Toolbox */
.float-left {
	float: left;
}

.float-right {

	float: right;
}

.icon-name-container {
	p { 
		margin-top: 8px !important;
		.light-black;
		.text-big;
	}
}

.site-footer {
	.bar-color;
	border-top: 1px #DDDDDD solid;
	margin-top: 4em !important;
	
	.grid {
		height: 94px;
		width: 58% !important;
		padding-top: 2%;
		margin: auto !important;
	}
}

.middle-align {
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.button-bottom-wrapper {
	background-color: #F6F9FC;
}

/* Course overview */
.top-bar-wrapper {
	.bar-color;
	border-top: 2px #DFDFDF solid;
	border-bottom: 2px #DFDFDF solid;
	padding: 1.2em 0;
	margin-bottom: 2em;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.search-icon {
	vertical-align: middle;
}

.advanced-filters-icon {
	vertical-align: middle;
}

.frontpage-news-cards-wrapper {
	margin-top: 16px !important;
}

.frontpage-course-wrapper {
	width: 66% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 5% !important;

	.row:first-child .column { 
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.ui.menu .item:before {
	background-image: none !important;
}


// Tablet
@media all and (min-width: 768px) and (max-width: 1200px){
	.frontpage-course-wrapper {
		width: 100% !important;
		padding-left: 3% !important;
		padding-right: 4% !important;
	}
}

// Mobile

// Mobile
@media all and (max-width: 767px) {
	.frontpage-course-wrapper {
		width: 94% !important;
	}
}

.header-arrow-icon {
	margin-top: 4%;
	cursor: pointer;
	-webkit-animation: bounce 2s 2;
	animation: bounce 2s 2;
}
.small-arrow-right-icon {
	background-image: url('/images/icons/small_arrow_right.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

/* Frontpage intro text */
.header-wrapper-text {
	width: 48%;
	margin: auto;
	width: 48%;
	margin: auto;
	display: table-cell;
	vertical-align: middle;
}

.frontpage-intro-text p {
	margin-top: 0.5%;
	margin-bottom: 0;
}

.content-container {
	max-width: 960px;
	margin: 0 auto;

	@media screen and (max-width: 1000px) {
		margin: 0 20px;
	}
}

.upper-case {
	text-transform: uppercase;
}

.faint-text {
	color: #666;
}

.small-text {
	font-size: 12px;
}

.centered-text {
	text-align: center;
}

span.spaced {
	margin-right: 1em;
}

i.evu-icon.right.arrow {
	display: inline-block;
	vertical-align: -20%;
	width: 9px;
	height: 14px;
	background-image: url("../images/icons/right_arrow.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 5px;
}

.name-card {
	height: 55px;

	h4 {
		.text-large;
		.black;
		height: 35px;
	}

	> div {
		display: table !important; 
		height: 49% !important;

		.card-text {
			display: table-row;

			a {
				position: absolute;

				img {
					margin-right: 5px;
				}
			}
		}
	}

	.image {
		border-radius: @borderRadius;
		margin-right: 16px !important;
		width: 55px; 
		height: 55px; 
		background-color: #cccccc !important;
	}

	a {
		.text-normal;

		img {
			vertical-align: middle;
		}
	}
}