/* Semantic UI overwrites */
.basic.ui.button {
	border-radius: 8px !important;
	color: #ffffff !important;
	background-color: #5290C8 !important;	
}

.basic.ui.button:hover {
	border-radius: 8px !important;
	color: #ffffff !important;
	background-color: #3f84c2 !important;	
}

.ui.button:hover {
	color: #ffffff;
} 

.large.ui.button {
	width: 60%;
}

.header-text-wrapper .button {
	width: 15%;
	height: 10%;
}
