
.class-card-list {
	> header {
		margin: 24px 0;
	}
}

.class-card {
	height: 103px;
	margin-bottom: 20px !important;
	border: 1px solid #979797;
	border-radius: 8px;

	h4 {
		margin-top: 0.6em;
	}

	.grid {
		padding: 9px !important;
	}
}

.class-card-image {
	padding-left: 0 !important;
}

.class-card-image-wrapper {
	height: 100%; 
	float: left;

	.image {
		background-color: #cccccc !important;
		height: 85px;
		width: 85px;
		border-radius: 8px !important;
		display: table;

		img {
			display: table-cell;
			width: 100%;
			height: 100%;
		}

		.icon {
			display: table-cell;
			font-size: 70px;
			vertical-align: middle;
			
		}
	}
}

// Mobile
@media all and (max-width: 767px) {
	.middle.aligned.row.mobile.only {
		margin-top: 0;
		padding-top: 0;
	}

	h4 {
		margin-top: 0em !important;
		margin-bottom: 0.3em;
	}

	.class-card {
		a:hover {
			.light-black;
			text-decoration: none;
		}

		a:link {
			.light-black;
			text-decoration: none;
		}

		a:visited {
			.light-black;
			text-decoration: none;
		}

		a:active { 
			.light-black;
			text-decoration: none;
		}

		a {
			.light-black;
		}
	}
}