.light-blue {
	color: #33B9CB;
}

.light-black {
	color: #4A4A4A;
}
.light-grey {
	color: #979797;
}

.dark-grey {
	color: #A4A4A4 !important; 
}

.black {
	color: #000000;
}

.white {
	color: #ffffff !important;
}

.bar-color {
	background-color: rgba(246, 249, 252, 0.27);
}

.red {
	color: red !important;
}