.contact-header-wrapper {
	max-height: 420px;
	width: 100%;
}

.contact-form {
	padding: 0 !important;
}
.contact-wrapper {

	.contact-form
	{
		float:right;
	}


	.contact-header {
		background-size: cover !important;
		height: 420px !important;
	}

	a:hover {
		.light-black;
		text-decoration: none;
	}

	a:link {
		.light-black;
		text-decoration: none;
	}

	a:visited {
		.light-black;
		text-decoration: none;
	}

	a:active { 
		.light-black;
		text-decoration: none;
	}

	a {
		.light-black;
	}

	.content-container {
		margin: auto !important;
	}

	.contact-form-wrapper {
		background-color: #ffffff;
		margin-top: -170px;
		border: 1px #979797 solid !important;
		border-radius: 8px !important;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
		webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
		padding: 0 !important;
		
		input, textarea {
			text-align: center;
		}

		.button-bottom-wrapper {
			height: 93px;
			text-align: center;
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;

			.button {
				margin-top: 7.5%;
			}
		}
	}

	// Mobile
	@media all and (max-width: 767px) {

		.contact-form
		{
			float:none;
		}

		.contact-form {
			padding: 2% !important;
		}

		.contact-form-wrapper {
			max-width: 381px;
			margin-right: auto !important;
			margin-left: auto !important;
			margin-top: 8% !important;

		}

		.contact-text-wrapper {
			padding: 1% 20% 1% 20% !important;
		}

		.row {
			margin-top: -334px !important;
		}

		.contact-text-wrapper {
			text-align: center !important;

			> .contaxt-text {
				h3 {
					// .white;
				}

				p {
					// .white;
				}

				.list {
					.white;
				}
			}
		}
	}

	@media all and (max-width: 600px) {
		.contact-text-wrapper {
			padding: 1% 2% 1% 2% !important;
		}
	}

	.contact-text-wrapper {
		@media all and (min-width: 991px) {
			padding-right: 14% !important;
		}

		h3 {
			.light-blue;
			.text-big;
		}

		p {
			.light-black;
			.text-large;
		}

		.list {
			.light-grey;
		}

		.item {
			.light-grey;
			.font-light;
			.text-large;

			padding: 4px 0 4px 0;
			margin: 0;
		}
	}
}
