.course-view {
	.top-bar-wrapper {
		margin-bottom: 1em !important;
	}

	// Mobile
	@media all and (max-width: 767px) {
		.top-bar-wrapper {
			margin-bottom: 0.5em !important;
		}
	}
}

.course-description {
	line-height: 32px;

	> header {
		margin-bottom: 10px;
	}
}

.course-information-box {
	border: 2px #DFDFDF solid;
	border-radius: 8px;
	overflow: hidden;

	> section {
		margin-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	header.row {
		margin-bottom: 20px;
	}

	.info.row {
		margin: 10px 0;
		padding: 0 16px;
	}

	.action.row {
		background-color: #F6F9FC;
		padding: 1.5em 0;
		margin-top: 24px;

		> a {
			color: #5290C8;
			&:hover { color: #8BB7DB; }
		}
	}
}

.course-card-black-top-bar {
	border-bottom: 2px #818381 solid;
}

.course-card-green-top-bar {
	border-bottom: 2px rgb(48, 135, 98) solid;
}

.course-card-yellow-top-bar {
	border-bottom: 2px rgb(198, 138, 70) solid;
}

.course-card-blue-top-bar {
	border-bottom: 2px rgb(48, 100, 125) solid;
}

i.evu-icon {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 23px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 5px;

	&.filled-box {
		background-image: url("../images/icons/filled_box.png");
	}
	&.calendar {
		background-image: url("../images/icons/calendar.png");
	}
	&.password {
		background-image: url("../images/icons/password.png");
	}
}
