/* Course card */
.course-card {
	position: relative;
	z-index: 1;
	height: 103px;
	margin: 50px auto;
	//padding: 10px 10px 10px 20px !important;
	padding: 1% 1% 1% 2% !important;
	border: 1px solid #979797;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
	webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
	border-radius: 8px;
	margin-left: 0 !important;
	margin-right: 0 !important;

	.course-card-header {
		a:hover {
			.light-black;
			text-decoration: none;
		}

		a:link {
			.light-black;
			text-decoration: none;
		}

		a:visited {
			.light-black;
			text-decoration: none;
		}

		a:active { 
			.light-black;
			text-decoration: none;
		}

		a {
			.light-black;
		}
	}

	.course-text {
		margin-top: 0 !important;
		padding-top: 1% !important;
		overflow: hidden;
		height: 59%;
	}

	.rating-wrapper {
		position: absolute;
		left: 0;
		margin-top: 0 !important;
		border-top: 1px #979797 solid;
		z-index: -2;
		

		.column {
			padding-left: 3% !important;
			padding-right: 3% !important;
		}
		.star {
			width: 15px; 
			height: 14px;
			display: inline-block;
		}

		.star-active {
			background: url('/images/icons/star_active.png') no-repeat;  	
		}

		.star-inactive {
			background: url('/images/icons/star_inactive.png') no-repeat;
		}
	}



	// Mobile 
	@media all and (max-width: 767px) {
		.course-description-wrapper {
			padding-left: 5% !important;
			padding-right: 5% !important;
			padding-top: 2% !important;
		}

		> div:first-child {
			text-align: center !important;
			padding-top: 3% !important;
		}

		.course-card-wrapper {
			> a:hover {
				.light-black;
				text-decoration: none;
			}

			> a:link {
				.light-black;
				text-decoration: none;
			}

			> a:visited {
				.light-black;
				text-decoration: none;
			}

			> a:active { 
				.light-black;
				text-decoration: none;
			}

			> a {
				.light-black;
			}
		}
	}

}

.course-card:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 1%;
	height: 100%;
	content: "";
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.course-card-wrapper {
	margin-top: 0 !important;
	margin: auto !important;
}

.course-link-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: 0 !important;
}

.course-card-black:before {
	background-color: #818381;
}

.course-card-green:before {
	background-color: rgb(48, 135, 98);
}

.course-card-yellow:before {
	background-color: rgb(198, 138, 70);
}

.course-card-blue:before {
	background-color: rgb(48, 100, 125);
}

.course-card .column {
	margin-bottom: 0 !important;
}

.course-description-wrapper {
	padding: 0 0 0 0 !important;
}

/* big course card */
.big-course-cards-wrapper {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6% !important;
}

.big-course-card-footer {
	.row {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

}

// Tablet 
@media all and (min-width: 1071px) and (max-width: 1390px){
	.big-course-cards-wrapper {
		width: 85%%;
	}
}

// Mobile
@media all and (max-width: 1070px) {
	.big-course-cards-wrapper {
		width: 94%;
	}

	.course-card {
		height: 134px;
	}

	.course-card:before {
		width: 2%;
	}

	.course-card-wrapper {
		a.course-card:hover {
			.light-black;
			text-decoration: none;
		}

		a.course-card:link {
			.light-black;
			text-decoration: none;
		}

		a.course-card:visited {
			.light-black;
			text-decoration: none;
		}

		a.course-card:active { 
			.light-black;
			text-decoration: none;
		}

		a.course-card {
			.light-black;
		}
	}
}



.big-course-card {
	position: relative;
	border: 2px #DFDFDF solid;
	border-radius: 8px;
	text-align: center;
	height: 228px;
	padding-bottom: 10%;
	width: 100%;
	padding-top: 10%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;
	webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) !important;

	.text-normal {
		font-size: 20px !important;
	}
}

.big-course-card:before {
	position: absolute;
	z-index: -1;
	top: 0%;
	left: 0;
	width: 100%;
	height: 2%;
	content: "";
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.big-course-card .text-normal {
	margin-left: 5%;
	margin-right: 5%;
}

.big-course-card-button-wrapper {
	position: absolute;
	width: 100%;
	padding-top: 5%;
	padding-bottom: 6%;
	bottom: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}