/* Search box */
.course-overview-search-box
{
	font-size: 17px;
	width: 100px;
	border: none;
	transition: width 300ms;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition: width 300ms;
	-webkit-transition-timing-function: linear;
	-webkit-appearance: none;
}

.course-overview-search-box:focus
{
	border: 1px #979797 solid;
	border-radius: 8px;
	width: 140px;
	margin-left: 5px;
}

.print-button {
	cursor: pointer;
}

.course-overview-search-box:active,
.course-overview-search-box:focus 
{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none;
}

div.filter-search-wrapper {
	height: 100%;
	line-height: 84px;
	margin: 0 0 0 !important;
	text-align: right !important;
}

.wishlist-link {
	cursor: pointer;
}

.course-overview-search-result {
	margin-top: 0 !important;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	min-height: 200px;
}

.filter-text {
	color: #979797;
	padding-right: 10px;
}

.advanced-filters-toggle-wrapper {
	cursor: pointer;
}

.advanced-filters-bar {
	border-top: 0 !important;	

	.row:nth-child(2) {
		padding: 0 !important;
		margin: 0 !important;
		padding: 1%;
	}
}

.course-overview-top-bar-wrapper {
	line-height: 84px;

	.column {
		white-space: nowrap!important;
	}

	.dropdown .menu.scrolling {
		max-height: 400px !important;
		overflow-y: auto !important;
	}
}

.course-overview-search-result {
	overflow-y: hidden;


	.course-card {
		height: 140px;
	}

	.rating-wrapper {
		padding: 1% !important;
	}
}

.advanced-filters-menu-mobile {

	.item:not(.hide) {
		text-align: left !important;
	}

	.item {
		input, select {
			width: 80%;
		}

		.icon {
			vertical-align: middle !important;
			line-height: 116% !important;
		}

		.grid {
			padding-top: 5%;
		}
	}

	label {
		color: rgba(255, 255, 255, 0.8) !important;
	}

}
@media all and (min-width: 768px) {
	.advanced-filters-menu-mobile {
		.reset-button-mobile {
			display: none !important;
		}

		.reset-button-computer {
			display: block;
		}
	}
}
@media all and (max-width: 767px) {
	.advanced-filters-menu-mobile {
		.reset-button-mobile {
			display: block !important;
		}

		.reset-button-computer {
			display: none !important;
		}
	}
}
// Computer
@media all and (min-width: 993px) {
	.sidebar-search-wrapper {
		display: none !important;
	}

	.advanced-filters-menu-mobile .item input, select {
		width: 100% !important;
	}
}

// Mobile
@media all and (max-width: 767px) {
	.course-overview-search-box:focus {
		width: 80%;
	}
	.search-result-info {
		margin-top: 0 !important;
	}
}