.angular-ratings {
	overflow: hidden;
	list-style: none !important;
	padding: 0;
	margin: 0;
	float: right;

	li {
		float: left;
		width: 15px;
		height: 14px;
		margin: 1px;
		font-size: 0 !important;

		text-indent: -500000em;
		background-size: 100%;
		background: url('/images/icons/star_inactive.png') no-repeat;
	}

	li.over {
		background: url('/images/icons/star_active.png') no-repeat;
	}
}