.ui-widget {
	font-family: 'Open Sans', sans-serif;
}
.ui-widget-content {
	background: #333333;
	color: rgba(255, 255, 255, 0.8);

	.ui-datepicker-title {
		.text-large;
	}

	.ui-datepicker-calendar {
		.text-normal;
	}

	.ui-state-hover, .ui-state-active {
		border: 1px solid #0b93d5;
		background: green;
		font-weight: normal;
		color: #ffffff;
		border: 0;
	}

	.ui-datepicker-today {
		.ui-state-default {
			color: #eeeeee;
			background-color: #000000;
			border: 0px solid rgba(255, 255, 255, 0.8);
		}
	}


}