.text-normal {
	font-size: 12px !important;
	line-height: 18px;
}

.text-large {
	font-size: 14px;
}

.text-big {
	font-size: 18px;
	line-height: 21px;
}

.text-bigger {
	font-size: 24px;
}

.text-header {
	font-size: 32px;
}

.text-align-right {
	text-align: right !important;
}

.font-light {
	font-weight: 300;
}

.font-bold {
	font-weight: 600;
}