.forgotten-password-wrapper {
	@borderParams: 1px #979797 solid;
	@borderRadius: 8px;

	.grid {
		width: 41% !important;
		border: @borderParams;
		border-radius: @borderRadius;
		margin: auto !important;

		.row {
			height: 630px;
		}
		.column {
			padding: 0 !important;
			margin: 0 !important;
			border-radius: @borderRadius;
			position: relative;

			.field:first-child {
				margin-bottom: 16% !important;
			}

			.form {
				background: transparent;
			}

			.button-bottom-wrapper {
				border-radius: 8px;
				height: 93px;
				position: absolute;
				width: 100%;
				bottom: 0;
				border-bottom: @borderParams;

				.button {
					margin-top: 5.5%;
				}
			}
		}
	}

	// Mobile
	@media all and (max-width: 767px) {
		.grid {
			width: 100% !important;
		}
	}
}