/* Site header */
.ui.secondary.pointing.menu {
	box-shadow: none;
}

.header-wrapper {
	background-size: cover !important;
	height: 530px;
	width: 100%;
	margin: 0 0 16px 0 !important;
	color: #ffffff;
	background-repeat: no-repeat !important;
}

.header-course-button-wrapper {
	width: 500px;
	margin: auto;
}  

.header-wrapper-overlay {
	background-color: rgba(0, 0, 0, 0.3); 
	width: 100%; 
	height: 100%;
	display: table;
}


.header-wrapper .row {
	padding: 10px 0 0 0 !important;
	margin: 0 0 0 0 !important;
	width: 50%;
}

.header-arrow-icon {
	margin-top: 4%;
}



.ie9msg
{
	position: fixed !important;
	bottom: 20px;
	z-index: 100;
	left:50%;
	width: 300px;

	.message
	{
		padding: 30px;
		margin-left: -300px;	
		-webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.75);
	}	
}