.login-wrapper {
	@borderParams: 1px #979797 solid;
	@borderRadius: 8px;

	.grid {
		
		.content-container;
		width: 782px;
		border: @borderParams;
		border-radius: @borderRadius;

		.column {
			background: transparent;
			padding: 0 !important;
			position: relative;
			margin-bottom: 0 !important;
			height: 553px;

			.column:first-child {
				border-right: @borderParams;
			}

			.form {
				@sidePadding: 6%;
				padding-left: @sidePadding;
				padding-right: @sidePadding;
				//border-radius: @borderRadius;
				background: transparent;

				input {
					height: 58px;
					text-align: center;
				}
			}

			.button-bottom-wrapper {
				position: absolute;
				width: 100%;
				bottom: 0;
				height: 93px;
				border-radius: 8px;

				.button {
					margin-top: 5.5%;
				}
			}
		}

		.ui.message {
			margin-bottom: 25%;
		}	
	}

	/*
		Login button fix for firefox
	*/
	@-moz-document url-prefix() { 
  		.login-wrapper .button-bottom-wrapper {
     		width: 50% !important;
     		z-index: -1;
  		}
	}

	// Mobile
	@media all and (max-width: 767px) {
		.grid {
			width: 89% !important;
			margin: auto !important;
			border: 0 !important;

			.create-user-container {
				height: 643px
			}

			.login-container {
				height: 560px;
			}


			.row {
				height: auto;

				.column {
					border: @borderParams;
					border-radius: @borderRadius;
				}
			}
		}
	}
}