.my-courses-course-card-wrapper .course-card {
	width: 96%;
	margin: auto;
}

// Tablet
@media all and (min-width: 768px) {
	.my-courses-course-card-wrapper .course-card {
		height: 188px !important;
	}
}

// Mobile 
@media all and (max-width: 767px) {
	.course-card .rating-wrapper {
		border: 0;
	}
}

.my-courses-course-card-wrapper {
	padding: 0 !important;
	border: 0 !important;
	overflow-y: scroll; 
	height: 800px;
}

.my-courses-wrapper {

	margin: auto !important;

	.menu {
		box-shadow: none;
	}

	a.item {
		width: 100%;
	}

	.verified-button {
		background-color: #52c88a !important;
		border-radius: 8px;
		color: #ffffff;
	}

	.warning-button {
		background-color: #c8c552 !important;
		border-radius: 8px;
		color: #ffffff;
	}

	.course-card-wrapper {
		width: 96% !important;
		margin: auto !important;
	}

	.course-link-wrapper {
		margin-top: 4% !important;
	}
}

.my-page-wrapper {
	.top-bar-wrapper {
		margin-bottom: 0 !important;

		.grid {
			.column {
				margin: 0;
				padding: 0;

				.button {
					border-radius: @borderRadius;
					border: 1px #979797 solid;
					width: 108px;
					.float-right;
					.text-normal;
					.light-black;
					height: 36px;
					background: transparent;
				}
			}
		}
	}

	.my-courses-menu {
		display: table !important;

		.name-card {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.grid > .five.column {
		margin-top: 0 !important;
		border-right: 1px #D7D7D7 solid;
		padding-right: 0px;

		.menu:first-child {
			margin-bottom: 0 !important;
			height: 116px;
		}

		.menu:last-child {
			padding-bottom: 68px !important;
		}

		.menu {
			border-bottom: 1px #D7D7D7 solid;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			margin-top: 0;
			margin-bottom: 0;

			.title {
				.text-normal;
				.light-black;
				padding-left: 5px !important;
				padding-top: 20px;
			}

			.item:not(.title) {
				.text-large;
				.light-black;

				padding-top: 20px !important;
				padding-left: 0 !important;
			}

			.item {
				padding-bottom: 20px !important;
			}

			.active {
				box-shadow: none !important;
			}

			.item:not(.title):not(.active) {
				.dark-grey;
			}
		}
	}
}