.news-background {
	background: url('/images/news_background.jpg');
}

/* News entry */
.news-entry-wrapper {
	position: relative; 
	width: 66%;
	margin: 4% auto auto auto !important;
	cursor: pointer;
}

.news-wrapper {
	margin-top: 4% !important;
}

.news-entry-image-wrapper > img {
	border: 1px solid #979797;
}

.news-entry-text-wrapper { 
	position: relative;
}

.news-entry-text-wrapper > .text-bigger {
	margin-top: 1%;
}

.news-entry-text-wrapper {
	img {
		display: none;
	}
}

.news-entry-author {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}

.news-read-wrapper {
	.grid {
		width: 80%;
		margin: auto !important;
	}

	img {
		width: 100%;
	}

	// Mobile
	@media all and (max-width: 767px) {
		.grid {
			width: 100%;
		}
	}
}

.news-entry-image-wrapper .no-image {
	padding-bottom: 65%;
	background-color: #cccccc !important;
}


// IE 11 fix
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.news-entry-image-wrapper .no-image {
		padding-bottom: 0% !important;
		max-height: 280px !important;
	}
}

// Mobile
@media all and (max-width: 767px) {
	.news-entry-text-wrapper > .text-bigger {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	.news-entry-text-wrapper {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}

	.news-entry-author {
		position: relative;
	}

	.news-entry-image-wrapper > img {
		width: 100% !important;
	}

	.news-entry-wrapper {
		width: 100%;
	}

	.news-card-container {
		height: auto !important; 
	}

	.news-card {
		height: 288px !important;
	}
}

// Tablet
@media all and (min-width: 768px) and (max-width: 1200px){
	.news-entry-wrapper {
		width: 100%;
	}

	.latest-news-wrapper {
		margin-left: 0 !important;
	}
}

/* News card */
.latest-news-wrapper > .row:first-child {
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.latest-news-wrapper .row:first-child {
	padding-bottom: 1%
}

.news-card-container:not(.ng-hide) {
	margin: 0 !important;
	padding: 0 !important;
	height: 288px;
}

.news-card {
	color: #ffffff;
	background-color: #33B9CB;
	background-repeat: no-repeat;
	width: 99%;
	height: 99%;
}

.news-card > div {
	position: relative;
	top: 50%;
	.middle-align;
	text-align: center;
}

.news-card-header {
	font-size: 24px;
}

.news-card-read-more {
	font-size: 18px;

	a {
		color: #ffffff !important;
	}
}

