@media print {
	.course-overview-top-bar-wrapper {
		display: none !important;
	}

	/* Wishlist */
	.my-courses-wrapper {
		.my-courses-course-card-wrapper { 
			overflow-y: visible !important; 
			height: auto !important; 
		}

		&.ui.grid {
			> .column,
			> .row > .column {
				display: block !important;
			}
		}
	}

	.user-menu-wrapper {
		display: none !important;
	}

	.user-menu {
		display: none;
	}

	.site-wrapper {
		width: 100% !important;
		max-width: 100% !important;
		margin: 0;
	}

	.ui.grid {
		margin: 0;
	}

	.content-container {
		max-width: 100%;
		width: 100% !important;
	}

	.course-description-wrapper {
		overflow: hide;
	}

	.course-description-wrapper.computer.only {
		display: none;
	}

	.course-description-wrapper.mobile.only {
		display: none;
	}

	.computer.only:not(.class-card) {
		display: none !important;
	}

	.tablet.only {
		display: none !important;
	}

	.course-link-wrapper {
		display: none !important;
	}

	.class-card-image-wrapper {
		display: none !important;
	}

	.class-card {
		border: 0 !important;
	}
}