// Mobile
@media all and (max-width: 767px) {
	.profile-wrapper {
		width: 100% !important;

		.profile-picture-selector {
			width: 74%;
		}
	}
}

.profile-wrapper {
	border-radius: 8px;
	width: 56%;

	.column {
		background: transparent;

		.field:first-child {
			//text-align: center;
		}

		.field {
			//text-align: left;

			.button {
				width: 217px;
			}

			.name-card > div {
				display: table !important;
				height: 100% !important;
			}

			.name-card {
				height: 55px;

				h4 {
					.text-large;
					.black;
				}

				> div {
					display: table !important; 
					height: 100% !important;

					.card-text {
						display: table-row;

						div {
							position: absolute;

							img {
								margin-right: 5px;
							}
						}
					}
				}

				div {
					.text-normal;

					img {
						vertical-align: middle;
					}
				}
			}
		}

		.button-container {
			text-align: right !important;
		}
	}
}