.substitute-wrapper {
	.substitute-subheader:hover {
		.light-black;
		text-decoration: none;
	}

	.substitute-subheader:link {
		.light-black;
		text-decoration: none;
	}

	.substitute-subheader:visited {
		.light-black;
		text-decoration: none;
	}

	.substitute-subheader:active { 
		.light-black;
		text-decoration: none;
	}

	.substitute-subheader {
		.light-black;
	}
}