/* Combined menu bar */
.combinedMenuBar {
	position: absolute;
	width: 77%;
}

.combinedMenuBar  { 
}

.combinedMenuBar .right .menu {
	float: right;
}

.combinedMenuBar .user-menu-item {
	color: #ffffff !important;
} 

.combinedMenuBar .header {
	color: #ffffff !important;
} 

/* User menu */
.user-menu-wrapper {
	max-width: 1920px;
	width: 100%;

	.ui.secondary.pointing.menu > .menu > .item, .ui.secondary.pointing.menu > .item {
		padding: 0.4em 0.95em !important;
	}

	.user-menu-wrapper-my-page {
		width: 94px;
	}

	.user-menu-item {
		border: 0 !important;
	}
}

.user-menu {
	color: #ffffff;
	margin-top: 0 !important;
}

.user-menu-mobile {
	.icon {
		color: red !important;
	}
}


.user-menu-item {
	color: #4A4A4A;
	font-size: 14px !important;
	font-weight: 400;
}

.user-menu-mobile-side {
	display: none !important;
}

// Computer
@media all and (min-width: 992px) {
	.user-menu > .right.menu {
		margin-top: 11px;
	}

	.combinedMenuBar .user-menu-item {
	}

	.combinedMenuBar .right.menu {
		margin-top: 6px !important;
	}
}

// Tablet and mobile
@media all and (max-width: 991px) {
	.user-menu > .right.menu {
		margin-top: 11px;
	}

	.combinedMenuBar .right.menu {
		margin-top: 4px !important;
	}
}

.user-menu .user-menu-item { 
	margin-top: 20px;
	margin-right: 4.4%;
}

.combinedMenuBar .user-menu-item {
	margin-top: 15px;
}

.logo {
	background-image: url('/images/logo_black.png');
	background-repeat: no-repeat;
	float: left;
	background-size: 100%;
	margin-left: 6.7%;
	margin-top: 0.9%;
}

.logo-black {
	height: 48px !important; 
	width: 158px !important;
}

.logo-white {
	background-image: url('/images/logo_white.png') !important;
	height: 45px !important;
	width: 141px !important;
}