.vejledning-wrapper {
	.top-bar-wrapper {
		margin-bottom: 1em !important;
	}


	ul, ol
	{
		font-size: 12px !important;
	}
	
	// Mobile
	@media all and (max-width: 767px) {
		.top-bar-wrapper {
			margin-bottom: 0.5em !important;
		}
	}
}