<p class="text-bigger light-dark">
	Kompendier til kurset {{ course.id }}: {{ course.title }}:
</p>
<p class="text-normal light-dark" ng-show="hasLinks()">
	<ul>
		<li ng-repeat="link in course.links">
			<a href="{{ link.url }}">{{ link.url }}</a>
		</li>
	</ul>
</p>

<p class="text-normal light-dark" ng-show="!hasLinks()">
	Der blev ikke fundet nogen kompendier for dette kursus.
</p>
