<div class="nemid-wrapper">
	<p class="text-bigger light-dark">
		Valider din bruger med NemID
	</p>

	<p class="text-big" ng-show="!isCPRVerified">
		Indtast dit CPR-nummer for at starte
	</p>

	<div class="ui form segment" ng-class="{ 'loading': isLoading }">
		<div class="field" ng-show="!isCPRVerified">
			<div class="ui left labeled input">
				<input type="text" ng-model="cprNumber" placeholder="CPR-nummer..">
			</div>
		</div>
		<div class="field" ng-show="!isCPRVerified">
			<div class="basic ui button" ng-click="startVerification()">
				Verificér
			</div>
		</div>

		<div class="ui ignored green icon message" ng-show="successMessage">
			<div class="content">
				<h3 class="header">{{ successMessage }}</h3>
			</div>
		</div>

		<div class="field">
			<div class="basic ui button" ng-click="deleteVerification()" ng-show="isCPRVerified">
				Slet verificering
			</div>
		</div>

		<div class="ui ignored red icon message" ng-show="errorMessage">
			<div class="content">
				<h3 class="header">Der opstod en fejl</h3>
				<p>{{ errorMessage }}</p>
			</div>
		</div>
	</div>

	<iframe id="nemid_iframe" ng-model="nemid_frame" title="NemID" ontouchstart="" scrolling="no" frameborder="0" style="width:500px;height:450px;border:0" ng-src="{{ trustSrc(nemid.applet.origin + nemid.applet.path) }}"></iframe>
</div>