<p class="text-bigger light-dark ng-binding">Tilmelding af nyhedsbrev</p>

<!-- Begin MailChimp Signup Form -->
<link href="https://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

<div id="mc_embed_signup">
	<form action="http://evu.us6.list-manage.com/subscribe/post?u=9d1afacc14f13ff791531905f&amp;id=aa5cfa7931" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

	<div class="ui form segment">
		<div class="field">
			<div class="ui left labeled icon input">
				<input type="text" value="{{ user.name }}" ng-model="name" name="FNAME" id="mce-FNAME">
				<i class="user icon"></i>
			</div>
		</div>
		<div class="field">
			<div class="ui left labeled icon input">
				<input type="text" value="{{ user.email }}" ng-model="email" name="EMAIL" id="mce-EMAIL">
				<i class="mail icon"></i>
			</div>
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>

		<div class="field right aligned button-container">
			<input type="submit" value="Tilmeld" class="basic ui button right aligned">
		</div>
	</div>

	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;"><input type="text" name="b_9d1afacc14f13ff791531905f_aa5cfa7931" tabindex="-1" value=""></div>	
	</form>
</div>

<script type='text/javascript' src='https://s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

<!--End mc_embed_signup-->