<div class="ui grid profile-wrapper">
	<div class="four column wide row">
		<div class="sixteen wide column ui form segment" ng-class="{ 'loading': isLoading }">
			<form>
				<div class="field">
					<div class="name-card segment">
						<img class="ui left floated image profile-picture-selector-image" src="{{ user.picture }}" id="img">
						<div>
							<h4 class="upper-case left aligned card-text">
								{{ user.name }}
							</h4>
							<div class="upper-case left aligned card-text">
								<div class="spaced" href="/min-side/profil">
									<img src="/images/icons/profile-edit.png"> 
									<input type="file" accept="image/*" capture="camera" id="asd" class="profile-picture-selector">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="ui left labeled icon input">
						<input type="text" value="{{ user.name }}" ng-model="changedUser.name">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left labeled icon input">
						<input type="text" value="{{ user.email }}" ng-model="changedUser.email">
						<i class="mail icon"></i>
						<div class="ui corner label" ng-show="!changedUser.emailIsValid">
							<i class="icon attention"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="ui left labeled icon input">
						<input type="password" placeholder="Ny adgangskode..." ng-model="changedUser.newPassword">
						<i class="lock icon"></i>
						<div class="ui corner label" ng-show="!changedUser.passwordIsValid">
							<i class="icon attention"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="ui left labeled icon input">
						<input type="password" placeholder="Gentag adgangskode..." ng-model="changedUser.newPasswordRepeated">
						<i class="lock icon"></i>
						<div class="ui corner label" ng-show="!changedUser.passwordRepeatedIsValid">
							<i class="icon attention"></i>
						</div>
					</div>
				</div>
				<div class="field">
					<div class="ui left labeled icon input">
						<input type="password" placeholder="Nuværende adgangskode..." ng-model="changedUser.oldPassword">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="ui ignored red icon message" ng-show="errorMessage">
					<div class="content">
						<h3 class="header">Der skete en fejl</h3>
						<p>{{ errorMessage }}</p>
					</div>
				</div>
				<!--<div class="field  button-container">
					<div class="ui button" ng-class="cprVerified !== false ? 'verified-button' : 'warning-button'">
						{{cprVerified !== false ? 'CPR valideret' : 'Validér CPR-nummer' }} 
						<i class="icon" ng-class="cprVerified !== false ? 'checkmark' : 'right arrow'"></i>
					</div>
				</div>-->
				<div class="field right aligned button-container">
					<div class="basic ui button right aligned" ng-click="updateProfile()">
						Opdater
					</div>
				</div>
			</form>
		</div>
	</div>
</div>