<p class="text-bigger light-dark ng-binding">Påmindelser</p>
<span class="text-normal light-black">
	Du kan tilmelde dig påmindelser om henholdsvis certifikatudløb og tilmeldte kurser herunder. 
</span>
<div class="ui form segment">
	<div class="inline field">
		<div class="ui checkbox">
			<input type="checkbox" id="certificateExpired" ng-model="certificateExpired">
			<label for="certificateExpired">Modtag påmindelser om certifikatudløb</label>
		</div>
	</div>
	<div class="inline field">
		<div class="ui checkbox">
			<input type="checkbox" id="attendedCoursesReminders" ng-model="attendedCoursesReminders">
			<label for="attendedCoursesReminders">Modtag påmindelser om tilmeldte kurser</label>
		</div>
	</div>
	<div class="inline field">
		<div class="ui checkbox">
			<input type="checkbox" id="wishlistCoursesReminders" ng-model="wishlistCoursesReminders">
			<label for="wishlistCoursesReminders">Modtag påmindelser om åbne hold på ønskelisten</label>
		</div>
	</div>
</div>


<div class="ui ignored error icon message" ng-show="errorMessage">
	<div class="content">
		<h3 class="header">Der skete en fejl</h3>
		<p>{{ errorMessage }}</p>
	</div>
</div>

<div class="ui ignored green icon message" ng-show="success">
	<div class="content">
		<h3 class="header">Dine tilmeldinger blev gemt.</h3>
	</div>
</div>

<div class="basic ui button" ng-click="updateChanges()">
	Gem
</div>
