<p class="text-bigger light-dark">
	Ønskeliste
</p>

<div class="ui grid my-courses-course-card-wrapper">
	<p class="text-normal light-dark" ng-show="!hasCourses()">
		Der blev ikke fundet nogle kurser på din ønskeliste.
	</p>
	<coursecard ng-repeat="course in courses" show-rating="false"></coursecard>
</div>